body, html{
	font-family: 'Roboto-Thin' !important;
	overflow-x: hidden;
	overflow-y: hidden;
	margin: 0;
	width: 100%;
	height: 100%;
}

.CodeMirror{
	position: absolute;
	height: 100%;
	width: calc(100% - 53px);
	margin: 0;
	font-size:14px;
	float:left;
	line-height: 1;
	width:100%;
}
#users{
	width: 53px;
	height: calc(100% - 47px);
	float:right;
	position:absolute;
	margin-left: calc(100% - 53px);
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #212121;
}
.codemirror-container{
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0px;
    float: right;
    padding-bottom: -30px;
    display: inline-block;
}
#codemirror-sizer{
	position: relative;
	height: 100%;
	/*width: calc(100% - 150px);*/
	width: 100%;
	z-index: 2;
	float: left;
}

#overlay{
	height:100%;
	width:100%;
	position:absolute;
}
#navbar-collapse-01{
	padding-left:0;
}

/*
* TOOLBAR
*/

.toolbar{
  position: absolute;
  float: right;
  width: 53px;
  height: 37px;
  margin-left: calc(100% - 53px);
  top: calc(100% - 47px);
  text-align: center;
  padding-top: 10px;
}
.toolbar > span{
	color: #eee;
	font-size: 22px;
}

.btn:focus {
  outline: none;
}

#paper-loading-spinner{
	position: fixed;
	z-index: 10;
	top: calc(50% - 14px);
	left: calc(50% - 14px);
	background-color: rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 8px;
}

/*
* SIDEBAR
*/

#side{
	height: calc(100% - 15px);
	width: 300px;
	margin-left: -300px;
	z-index: 90;
	position: absolute;
	overflow-x: hidden;
	top: 0;
	left: 0;
}

#users, .toolbar{
	background-color: #212121;
	z-index: 3;
}

#users{
	overflow: visible;
}

#side-inner{
    height: calc(100%);
    margin-top: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

#side-inner hr{
	margin-top: 4px;
	margin-bottom: 4px;
	border-top: none;
	height: 1px;
	background-color: #0097a7;
}

#side{
	background-color: #212121;
}

#side-inner hr{
	background-color: transparent;
	color: transparent;
	border: none;
}
.side-head{
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   padding: 0px;
   text-align: center;
   color: #212121;
}
.side-head>h6, .side-head>h6:hover{
	color: #424242;
	margin: 0;
	border-bottom: none;
	padding-bottom: 0px;
	color: #424242;
	margin: 0;
	text-align: left;
	margin-left: 13px;
	width: 100%;
}
.side-head>h6>a{
	color: #424242 !important;
	font-size: 20px;
}
.flex-center{
	-webkit-justify-content: center;
	-webkit-align-items: center;
	justify-content: center;
	align-items: center;
}

/*
* RENAME
*/
#rename-div{
	width: 90%;
	height: 30px;
}
#rename-div > input{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 13px;
	padding-left: 11px;
	border-radius: 6px;
	background-color: #424242;
	color: #E0E0E0;
	border: none;
}
#rename-div > button{
	font-size: 20px;
	box-shadow: none;
	border: none;
	border-left: none;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	background-color: #C0C0C0;
	color: rgb(41, 39, 39);
}
#rename-div input:read-only {
	color: #8A8989;
}
.InputAddOn {
  display: flex;
}
.InputAddOn-field {
  flex: 1;
}
#side-inner>div>h6>span{
	float: right;
}
.nav{
	padding-left: 10px;
	overflow: visible;
}

.side_header, .side-item{
	z-index: 98;
}
.side-item{
	background-color: transparent;
	color: red;
}

#spinner-font{
	width: 300px;
}
/*
* NAVIGATION	
*/
#container{
	height:100% !important;
	width: 100% !important;
	margin:0% !important;
	left:0 !important;
	right:0 !important;
	padding:10px !important;
}
#main{
	top:0;
	width:100%;
	height:100% !important;
	padding:5px !important;
}
#preview{
	border: none;
	outline: none;
	width: 100%;
	height: calc(100% - 102px);
	position: absolute;
	background-color: white;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	margin: 0;
	margin-left: 0px;
}

.navbar span{
	font-size: 18px;
	padding-top: 4px;
	padding-left: 11px;
	padding-right: 12px;
	color: #D0D0D0;
}

.navbar span:last-child{
	border-right: none;
}

.navbar{
	display: flex;
	display: -webkit-box;
}

#nav-outline{
	border: none;
	padding: 1px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	background-color: #212121;
	height: 29px;
	margin-top: 5px;
	margin-right: 9px;
	border-radius: 5px;
}

.search-nothing{
	height: 90%;
    width: 100%;
    padding-top: 40px;
    text-align: center;
    color: gray;
    text-transform: uppercase;
    font-family: 'Roboto-Black';
}
/*
* TABS
*/
.tab-wrapper{
	height: 34px;
	background-color: #212121;
	position: absolute;
	top: -30px;
	overflow: visible;
	display: flex;
	width: 100%;
}
.tab-container{
  flex: 1;
	height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  /* width: 100%; */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.tab-tab{
    height: 22px;
    position: relative;
    width: 120px;
    padding: 8px;
    margin-right: 0 !important;
    padding-top: 3px;
}
.tab-tab:first-child{
	margin-left: 0px;
}

.tab-tab h4{
	margin: 0px;
    font-size: 12px;
    width: 83px;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    float: left;
    word-wrap: break-word;
    overflow: hidden;
    height: 17px;
    font-family: 'Roboto';
    color: white;
    padding-top: 7px;
    padding-left: 5px;
    font-weight: 300;
    position: relative;
    margin-left: 14px;
}
.tab-tab h6{
	margin: 0;
	font-size: 14px;
	color: #BEB8B8;
	opacity: 0;
	padding-top: 0px;
	width: calc(100% - 11px);
	z-index: 0;
	position: absolute;
	margin-top: 6px;
	text-align: right;
}
.tab-tab h6>i{
  margin-left: 3px;
  margin-right: 3px;
  color: #ccc;
}
.tab-tab .zmdi-close{
  
}
.tab-tab .zmdi-caret-down{
  font-size: 16px;
}
.tab-tab:hover{
	display: inline-block !important;
}
.tab-tab:hover h6{
	opacity: 1;
}
.tab-tab>i{
	position: absolute;
	font-size: 10px;
	top: 13px;
	color: white;
}
.tab-active{	
	background-color: rgb(47, 46, 46);
	border-right: none;
}
.tab-active h6{
	/*color: #f36c60;*/
}
.tab-active h4{
	color: #ccc;
}
.CodeMirror{
	line-height: 1 !important;
}
.users-container{
	height: 100%;
	width: 100%;
	-webkit-overflow-scrolling: touch;
	overflow: visible;
}
#overlay{
	background-color: #ECF0F1;
	z-index: 1;
}
#overlay h4{
	text-align: center;
	text-transform: uppercase;
	margin-top: 14px;
	color: #DADEDF;
}
.codemirror-container{
	z-index: 2;
}
#profile_pic{
	 float:left;
	 margin-right:5px;
	 border-radius:50%;
	border: none;
	 margin-top: 1px;
}
.mode-li, .theme-li{
	border: solid 1px #eee !important;
}
.mains .CodeMirror{
	height: 100% !important;
}
#toggle_side_menu_button{
	color: #bdc3c7;
	border-radius: 3px;
	width: 45px;
	height: 34px;
	font-size: 25px;
}
#toggle_side_menu_button > i{
	  color: #FF8F00;
	  font-size: 18px;
}
#nav{
	height: 42px;
	margin-bottom: 29px;
	background-color: rgb(47, 46, 46);
	border-radius:0px;
	z-index:9;
}
.nav{
	margin: 0;
}
.tab-right{
	  position: relative;
	  color: #F4E5E5;
	  padding: 8px;
	  background-color: transparent;
	  text-align: center;
	  font-family: 'Roboto-Thin';
	  z-index: 11;
	  font-size: 17px;
	  padding-right: 12px;
	  padding-left: 12px;
	  float: right;
	  overflow: visible;
}

#navigate{
	height: 33px;
	min-height: 0;
}
#navigate div{
	color: #9e9e9e;
	width: 33%;
	height: 22px;
	padding-top: 7px;
	padding-bottom: 3px;
	margin-top: 1px;
}
#navigate .active{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: #FF8F00;
}

.side-item a{
	text-decoration: none;
}

.terminal{
	display: block;
	width: 100%;
	background-color: white;
	margin-top: 0px;
	border: none;
	height: calc(100% - 84px);
}

.terminal > * {
	height: 100%;
}


#opt{
	display: block;
	position: absolute;
	height: calc(100% - 98px);
	width: calc(100% - 10px);
	/* top: 0; */
	left: 0;
	padding: 5px;
	margin-top: -1px;
}
.select{
	z-index: 200;
}

.option-div h4{
	margin: 0;
	font-family: 'Roboto-Thin';
	color: #9E9E9E;
	float: left;
}

.user-photo {
	border: none !important;
	border-radius: 50%;
	margin: 5px;
	width: 44px !important;
	height: 44px !important;
}

#chat-popup{
	position: fixed;
	width: 300px;
	bottom: 0px;
	right: 17px;
	z-index: 5;
	background-color: white;
	height: 400px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	
	-moz-box-shadow: 0 0 9px #4A4A4A;
	-webkit-box-shadow: 0 0 9px #4A4A4A;
  	box-shadow: 0 0 9px #4A4A4A;
}

.chat-input{

}

.chat-item{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	margin-left: 7px;
	margin-right: 7px;
	padding: 5px;
	border-bottom: solid 1px #eee;
}
.chat-item > img{
	  margin-right: 1em;
	  border-radius: 5px;
	  border: solid 2px rgb(244, 244, 244)
}
.chat-item > div{
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.chat-item > div > h3{
	font-size: 12px;
	font-weight: 600;
	margin: 0 0 10px;
	text-overflow: ellipsis;
	width: 100%;
	overflow: hidden;
}
.chat-item > div > pre{
  	margin: 0 0 15px;
  	word-break: break-all;
  	word-wrap: break-word;
  	width: 100%;
  	white-space: pre-wrap;
  	font-family: "Roboto";
  	font-size: 12px;}

.chats-bottom{
	width: 100%;
	position: absolute;
	height: 50px;
	bottom: 0px;
	background-color: transparent;
}
.chats-text{
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	padding: 10px;
	resize: none;
	outline: none;
	border: none;
	font-size: 13px;
	color: #383838;
	background-color: white;
	border-top: solid 1px #eee;
	font-weight: 400;
	font-family: "Roboto";
}
.chats-store{
	position: absolute;
	width: 100%;
	overflow: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	
	top: 30px;
	height: calc(100% - 80px);
}
.chats-top{
	position: absolute;
	padding: 5px;
	top: 0px;
	height: 20px;
	width: calc(100% - 10px);
	border-bottom: solid 1px #eee;
}
.chats-top > h6{
	margin: 0;
}
.chats-top i {
	float: right;
	font-size; 15px;
}



.hide{
	display: none !important;
}


/*
FILE BROWSING TREE
=================	
*/


.tree-tree{
	overflow: auto;
	height: calc(100% - 86px);
}
.tree ul{
	list-style-type: none;
	-webkit-padding-start: 10px !important;
}
.tree li{
	color: #C8CDCF;
	font-family: 'Roboto-Thin';
	font-weight: 600;
	font-size: 13px;
	margin-top: 7px;
	margin-bottom: 7px;
	overflow-wrap: break-word;
}

.tree span {
  font-family: "Roboto";
  font-weight: 400;
  color: #C8CDCF;
}

.tree i{
	margin-right: 10px;
	color: #C8CDCF;
}

.tree .devicons{
	font-size: 17px;
	margin-right: 5px;
}

.tree-folder > span{
	font-weight: 600;
	color: #C8CDCF;
}

.tree-file > span {
	font-size: 12px;
}

#tree-open{
	overflow: scroll;
	position: fixed;
	width: 180px;
	/* padding: 10px; */
	right: 10px;
	top: 43px;
	height: 200px;
	background-color: #323232;
	z-index: 1;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 20px;
}
#tree-open>span{
	color: #E74C3C;
	position: absolute;
	top: 5px;
	left: 5px;
	font-size: 16px;
}
#tree-open>span>i{
	color: #E74C3C !important;
}
.tree .fa-spin{
	color: #FF8F00;
}

#image_div{
	display: flex;
	align-items: center;
	justify-content: center;
	display:none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.62);
}
#image_div>img{
	max-width: 80%;
	max-height: 80%;
}

#profile_div{
	height: 33px;
	margin-top: 2px;
	border-radius: 3px;
	padding: 2px;
	padding-left: 3px;
	padding-right: 3px;
}

#profile_div > i{
	float: right;
    margin-top: 12px;
    
    color: #bdc3c7;
}

#profile_div > img{
	float: left;
}

/*======
LOADING ICON
=======*/

#paper-loading-spinner {
  -webkit-animation: spinning-cog 1.3s infinite ease;
  -moz-animation: spinning-cog 1.3s infinite ease;
  -ms-animation: spinning-cog 1.3s infinite ease;
  -o-animation: spinning-cog 1.3s infinite ease;
  animation: spinning-cog 1.3s infinite ease;
}

@-webkit-keyframes spinning-cog {
  0% { -webkit-transform: rotate(0deg) }
  20% { -webkit-transform: rotate(-45deg) }
  100% { -webkit-transform: rotate(360deg) }
}

@-moz-keyframes spinning-cog {
  0% { -moz-transform: rotate(0deg) }
  20% { -moz-transform: rotate(-45deg) }
  100% { -moz-transform: rotate(360deg) }
}

@-o-keyframes spinning-cog {
  0% { -o-transform: rotate(0deg) }
  20% { -o-transform: rotate(-45deg) }
  100% { -o-transform: rotate(360deg) }
}

@keyframes spinning-cog {
  0% { transform: rotate(0deg) }
  20% { transform: rotate(-45deg) }
  100% { transform: rotate(360deg) }
}


.select-target{
	margin-left: 10px;
	font-family: "Roboto";
}

.overlay-tint{
	background-color: rgba(0,0,0,0.1);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	
	z-index: 99;
}

.overlay-tint > div{
	display: flex;
	align-items: center;
	justify-content: center;
	
	position: relative;
	width: 100%;
	height: 100%;
}

.overlay-tint > div > div{
	padding: 20px;
	background-color: white;
	-moz-box-shadow: 0 0 9px #4A4A4A;
	-webkit-box-shadow: 0 0 9px #4A4A4A;
  	box-shadow: 0 0 9px #4A4A4A;
  	
  	border-radius: 2px;
  	position: relative;
  	
  	width: 90%;
  	height: 90%;
}

.overlay-tint > div > div > iframe{
	position: relative;
	width: 100%;
	height: 100%;
	border: none;
}

.overlay-tint h2{
	font-size: 16px;	
}


#keyboard-manager{
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	position: relative;
	height: calc(100% - 100px);
	margin-bottom: 40px;
}

#keyboard-manager > div{
	width: calc(100% - 10px);
	padding: 10px;
	padding-bottom: 20px;
	padding-top: 20px;
	border-bottom: solid 1px #eee;
}

#keyboard-manager > div > h5{
	margin: 0;
	color: rgb(77, 75, 75);
	font-size: 16px;
}

#keyboard-manager > div > h5 > span{
	float: right;
	color: #A39F9F;
}

.normal-input{
	font-size: 15px;
    padding: 8px;
    border: solid thin #eee;
    border-radius: 5px;
    outline: none !important;
}

/*
* BROADCAST
*/
#broadcast{
	position: fixed;
    z-index: 99;
    right: 0;
    bottom: 0;
    padding: 10px;
    background-color: rgba(251, 251, 251, 0.87);
    border-top-left-radius: 3px;
}
#broadcast > i{
	float: right;
    color: #8E6F6F;
    margin-top: 2px;
}
#donate{
	float: left;
}

#ad h4{
	margin: 0;
	font-size: 12px;
}

#ad button{
	margin-top: 5px;
	border: none;
	background-color: #eee;
	border: solid thin gray;
	border-radius: 3px;
}


#bottom{
  position: absolute;
  background-color: #2F2E2E;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15px;
}

/*
* CONTEXT
*/

.popup{
	position: absolute;
	z-index: 90;
	background-color: white;
	border-radius: 2px;
	-moz-box-shadow: 0 0 9px #4A4A4A;
	-webkit-box-shadow: 0 0 9px #4A4A4A;
  box-shadow: 0 0 9px #4A4A4A;
  right: 5px;
  top: 35px;
}
.popup>span{
	  display: block;
    padding: 7px;
    padding-left: 14px;
    font-family: 'Roboto';
    padding-right: 18px;
    font-size: 14px;
    color: #5E5B5B;
    border-bottom: none;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    width: 80px;
}
.popup a{
	color: #5E5B5B !important;
}

.popup>span i{
	margin-right: 5px;
}

.popup>span:hover{
	background-color: #eee;
}

.popup:before{
	width: 0px;
    height: 0px;
    content: '\25b2';
    position: absolute;
    top: -15px;
    font-size: 14px;
    color: white;
    right: 22px;
}

#setting-popup{
  width: 200px;
}

#context{
	display: none;
	width: 115px;
}

#context:before{
	left: 13px;
}

.context-menu--active{
	display: block !important;
}

.context-click{
  padding: 3px;
}