body, html{
	font-family: 'Roboto' !important;
	overflow-x: hidden;
	overflow-y: hidden;
	margin: 0;
	width: 100%;
	height: 100%;
}

.CodeMirror{
	position: absolute;
	height: 100%;
	width: calc(100%);
	margin: 0;
	font-size:14px;
	float:left;
	line-height: 1;
	width:100%;
}
#users{
	width: 53px;
	height: 100%;
	float:right;
	position:absolute;
	margin-left: calc(100% - 53px);
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #212121;
}

.codemirror-container{
  position: relative;
  height: 100%;
  width: calc(100%);
  margin: 0px;
  margin-right: 0px;
  float: right;
  display: inline-block;
}
.codemirror-image{
	width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 6;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #131313;
}
#codemirror-sizer{
	position: relative;
	height: 100%;
	width: 100%;
	z-index: 2;
	float: left;
}
#navbar-collapse-01{
	padding-left:0;
}

/*
* TOOLBAR
*/

.toolbar{
  	position: absolute;
  	float: right;
  	width: 53px;
  	height: 37px;
  	margin-left: calc(100% - 53px);
  	top: calc(100% - 47px);
  	text-align: center;
  	padding-top: 10px;
}
.toolbar > span{
	color: #eee;
	font-size: 22px;
}

*:focus {
  	outline: none;
}

#paper-loading-spinner{
	position: fixed;
	z-index: 10;
	top: calc(50% - 14px);
	left: calc(50% - 14px);
	background-color: rgba(0,0,0,0.1);
    	padding: 20px;
    	border-radius: 8px;
}

/*
* SIDEBAR
*/

#side{
	height: calc(100% - 0px);
	width: 300px;
	margin-left: -300px;
	/*margin-left: 0px;*/
	z-index: 90;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 0px;
  overflow-y: auto;
  overflow-x: hidden;
}

.move{
  margin-left: 0px;
  /*margin-left: 300px;
  width: calc(100% - 300px);*/
}

.move.is-mobile{
  width: 100% !important;
}

#users, .toolbar{
	background-color: #212121;
	z-index: 3;
}

#users{
	overflow: visible;
}

#side-inner hr{
	margin-top: 4px;
	margin-bottom: 4px;
	border-top: none;
	height: 1px;
	background-color: #0097a7;
}

#side{
	background-color: #212121;
	border-right: solid 2px #131313;
}

#side-inner hr{
	background-color: transparent;
	color: transparent;
	border: none;
}
.side-head{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding: 0px;
  text-align: center;
  color: #212121;
}
.side-head>h6, .side-head>h6:hover{
	color: #424242;
	margin: 0;
	border-bottom: none;
	padding-bottom: 0px;
	color: #424242;
	margin: 0;
	text-align: left;
	margin-left: 13px;
	width: 100%;
}
.side-head>h6>a{
	color: #424242 !important;
	font-size: 20px;
}
.flex-center{
	-webkit-justify-content: center;
	-webkit-align-items: center;
	justify-content: center;
	align-items: center;
}
/*
* RENAME
*/
#rename-div{
	width: 90%;
	height: 30px;
}
#rename-div > input{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 13px;
	padding-left: 11px;
	border-radius: 6px;
	background-color: #424242;
	color: #E0E0E0;
	border: none;
}
#rename-div > button{
	font-size: 20px;
	box-shadow: none;
	border: none;
	border-left: none;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	background-color: #C0C0C0;
	color: rgb(41, 39, 39);
}
#rename-div input:read-only {
	color: #8A8989;
}
.InputAddOn {
  	display: flex;
}
.InputAddOn-field {
  	flex: 1;
}
#side-inner>div>h6>span{
	float: right;
}
.nav{
	padding-left: 10px;
	overflow: visible;
}

.side_header, .side-item{
	z-index: 98;
}
.side-item{
	background-color: transparent;
	color: red;
}

#spinner-font{
	width: 300px;
}
/*
* NAVIGATION	
*/
#container{
	height:100% !important;
	width: 100% !important;
	margin:0% !important;
	left:0 !important;
	right:0 !important;
	padding:10px !important;
}
#main{
	top:0;
	width:100%;
	height:100% !important;
	padding:5px !important;
}
#preview{
	border: none;
	outline: none;
	width: 100%;
	height: calc(100% - 33px);
	position: relative;
	background-color: white;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	margin: 0;
	margin-left: 0px;
	z-index: 2;
}
.snippet-main{
	padding-left: 5px;
  padding-right: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 33px);
  overflow-y: auto;
  position: absolute;
  bottom: 0;
  left: 0;
}
#snippet-popup{
	top: calc(100% - 156px);
    right: 14px;
}
.snippet-item{
	position: relative;
	margin-bottom: 10px;
}
.snippet-title{
  width: calc(100% - 10px);
  padding: 5px;
  position: relative;
  background-color: #131313;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom: solid 2px #131313;
  color: white;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
}
.snippet-edit{
  width: calc(100% - 10px);
  padding: 5px;
  position: relative;
  background-color: #2F2E2E;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom: solid 2px #131313;
  color: white;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.snippet-title h4{
  margin: 0;
  font-size: 12px;
  font-family: "Roboto";
  font-weight: normal;
  width: calc(100% - 45px);
  text-overflow: ellipsis;
  overflow: hidden;
}
.snippet-title i, .snippet-edit i{
  margin-left: 3px;
  margin-right: 3px;
  font-size: 13px;
  color: #D0D0D0;
  display: inline-block;
}
.snippet-edit input{
  font-size: 12px;
  border: none;
  padding: 3px;
  border-radius: 3px;
  width: calc(100% - 38px);
  margin-bottom: 3px;
  border: 1px solid #555;
  background-color: white;
  color: #606060;
}
.snippet-edit select{
  font-size: 12px;
  border: none;
  padding: 3px;
  border-radius: 3px;
  width: calc(100% - 28px);
  margin-bottom: 3px;
  border: 1px solid #555;
  background-color: white;
  color: #606060;
}
.snippet-editor{
  width: 100%;
  position: relative;
  height: 200px;
  overflow: hidden;
}

.nav-bottom-buttons{
  display:none;
  position: absolute;
  bottom: 0;
  right: 0px;
  width: 61px;
  z-index: 3;
  height: 20px;
  background-color: #131313;
  padding: 7px;
  border-top-left-radius: 2px;
  padding-bottom: 1px;
  text-align: center;
}
.nav-bottom-buttons>i{
  color: white;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 16px;
}
.navbar span{
	font-size: 18px;
	padding-top: 4px;
	padding-left: 11px;
	padding-right: 12px;
	color: #D0D0D0;
	position: relative;
}

.navbar span:last-child{
	border-right: none;
}

.navbar{
	display: flex;
	display: -webkit-box;
}

#help_button > span{
	position: absolute;
	top: -5px;
	font-family: "Roboto";
	font-size: 9px;
	padding: 3px;
	background-color: #D82020;
	border-radius: 8px;
	min-width: 10px;
	text-align: center;
	color: white;
	right: 0px;
}

#nav-outline{
	border: none;
	padding: 1px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	background-color: #212121;
	height: 29px;
	margin-top: 5px;
	margin-right: 9px;
	border-radius: 5px;
}

.search-nothing{
	height: 90%;
	width: 100%;
	padding-top: 40px;
	text-align: center;
	color: gray;
	text-transform: uppercase;
	font-family: 'Roboto-Black';
}
/*
* TABS
*/
.tab-wrapper{
	height: 34px;
	background-color: #131313;
	position: absolute;
	top: -30px;
	overflow: visible;
	display: flex;
	width: 100%;
}
.tab-container{
	flex: 1;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	/* width: 100%; */
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
.tab-tab{
    height: 22px;
    position: relative;
    width: 120px;
    padding: 8px;
    margin-right: 0 !important;
   	padding-top: 3px;
    padding-bottom: 7px;
}
.tab-tab:first-child{
	margin-left: 0px;
}

.tab-tab h4{
    margin: 0px;
    font-size: 12px;
    width: 82px;
    overflow: hidden;
    text-overflow: clip;
    float: left;
	overflow: hidden;
 	font-family: 'Roboto';
 	color: white;
 	padding-top: 7px;
 	padding-left: 5px;
 	font-weight: 300;
	position: relative;
	margin-left: 14px;
	height: 20px;
	z-index: 2;
}
.tab-tab h6{
	margin: 0;
	font-size: 14px;
	color: #BEB8B8;
	opacity: 0;
	padding-top: 0px;
	width: calc(100% - 11px);
	z-index: 0;
	position: absolute;
	margin-top: 6px;
	text-align: right;
}
.tab-tab h6>i{
  margin-left: 3px;
  margin-right: 3px;
  color: #ccc;
}
.tab-tab .zmdi-close{
  
}
.tab-tab .zmdi-caret-down{
  	font-size: 16px;
}
.tab-tab:hover{
	display: inline-block !important;
}
.tab-tab:hover h6{
	opacity: 1;
}
.tab-tab>i{
	position: absolute;
	font-size: 10px;
	top: 13px;
	color: white;
}
.tab-active{	
	background-color: rgb(47, 46, 46);
	border-right: none;
}
.tab-active h6{
	/*color: #f36c60;*/
}
.tab-active h4{
	color: #ccc;
}
.CodeMirror{
	line-height: 1 !important;
}
.users-container{
	height: 100%;
	width: 100%;
	-webkit-overflow-scrolling: touch;
	overflow: visible;
}
#overlay, #loading-overlay{
	background-color: #2F2E2E;
	z-index: 8;
	height:100%;
	width:100%;
	position:absolute;
}
#overlay h3{
  text-align: center;
  color: #DADEDF;
}
#overlay h4{
	text-align: center;
	margin-top: 14px;
	color: #DADEDF;
	font-weight: 300;
}
#overlay > div{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
}
#overlay > div > div{
  flex: 1;
  text-align: center;
  color: #DADEDF;
}
#overlay > div > div > i{
    padding: 10px;
    background-color: #131313;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
#loading-overlay > div{
	width: 100%;
    height: 100%;
    display: flex;
	display: -webkit-flex;
	display: -moz-flex;
    justify-content: center;
    align-items: center;
}
#loading-overlay > div > div{
	width: 90%;
    height: 10px;
    background-color: #131313;
    border-radius: 5px;
}
#loading-overlay > div > div > span{
	height: 10px;
    width: 20%;
    background-color: #FF8F00;
    position: absolute;
    border-radius: 5px;
}
.codemirror-container{
	z-index: 2;
}
#profile_pic{
	 float:left;
	 margin-right:5px;
	 border-radius:50%;
	border: none;
	 margin-top: 1px;
}
#cloud_type{
	/* padding-top: 7px; */
    	background-color: white;
    	padding: 7px;
    	/* padding-bottom: 7px; */
    	height: 17px;
    	margin-bottom: 12px;
    	margin-top: 5px;
    	padding-bottom: 8px;
    	/* width: 25px; */
    	padding-top: 5px;
    	border-radius: 50%;
}
#cloud_type > i{
	
}
.mode-li, .theme-li{
	border: solid 1px #eee !important;
}
.mains .CodeMirror{
	height: 100% !important;
}
#toggle_side_menu_button{
	color: #bdc3c7;
	border-radius: 3px;
	width: 45px;
	height: 34px;
	font-size: 25px;
}
#toggle_side_menu_button > i{
	  color: #FF8F00;
	  font-size: 18px;
}
#nav{
	height: 42px;
	margin-bottom: 29px;
	background-color: rgb(47, 46, 46);
	border-radius:0px;
	z-index:9;
}
.nav{
	margin: 0;
}
.tab-right{
  	position: relative;
  	color: #F4E5E5;
  	padding: 0px;
  	background-color: transparent;
  	text-align: center;
  	font-family: 'Roboto';
	font-weight: 300;
  	z-index: 11;
  	font-size: 17px;
  	float: right;
  	overflow: visible;
}
.tab-right > i{
  	padding: 8px;
  	padding-left: 12px;
  	padding-right: 12px;
}

#navigate{
	height: 33px;
	min-height: 0;
}
#navigate div{
	color: #9e9e9e;
	width: 33%;
	height: 22px;
	padding-top: 7px;
	padding-bottom: 3px;
	margin-top: 1px;
	position: relative;
}
#navigate .active{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: #FF8F00;
}

.side-item a{
	text-decoration: none;
}
#opt{
	display: block;
	position: absolute;
	height: calc(100% - 98px);
	width: calc(100% - 10px);
	/* top: 0; */
	left: 0;
	padding: 5px;
	margin-top: -1px;
}
.select{
	z-index: 200;
}

.option-div h4{
	margin: 0;
	font-family: 'Roboto';
	font-weight: 300;
	color: #9E9E9E;
	float: left;
}

.user-photo {
	border: none !important;
	border-radius: 50%;
	margin: 5px;
	width: 44px !important;
	height: 44px !important;
}

#chat-popup{
	position: fixed;
	width: 350px;
	bottom: 0px;
	right: 5px;
	z-index: 90;
	background-color: white;
	height: 430px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	transition: width 0.5s, height 0.5s, right 0.5s, bottom 0.5s, border-radius 0.5s, z-index 0.5s;
	-webkit-transition: width 0.5s, height 0.5s, right 0.5s, bottom 0.5s, border-radius 0.5s, z-index 0.5s;
}
#chat-popup.chat-fullscreen{
	width: 100%;
	height: 100%;
	right: 0;
	bottom: 0;
	border-radius: 0;
	z-index: 90;
	transition: width 0.5s, height 0.5s, right 0.5s, bottom 0.5s, border-radius 0.5s, z-index 0.5s;
	-webkit-transition: width 0.5s, height 0.5s, right 0.5s, bottom 0.5s, border-radius 0.5s, z-index 0.5s;
}
.chat-input{

}
.chat-item{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	margin-left: 7px;
	margin-right: 7px;
	padding: 5px;
}
.chat-item > img{
	margin-right: 1em;
	border-radius: 50%;
	border: solid 2px rgb(244, 244, 244);
}
.chat-item > img.you{
	margin-right: 1em;
}
.chat-item > img.me{
	margin-left: 1em;
	border-radius: 5px;
	border: solid 2px rgb(244, 244, 244);
}
.chat-item > div{
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.chat-item > div > h3{
	font-size: 12px;
	font-weight: 600;
	margin: 0 0 10px;
	text-overflow: ellipsis;
	width: 100%;
	overflow: hidden;
	font-family: "Roboto";
	font-weight: 600;
}
.chat-item > div > pre{
  	margin: 0 0 15px;
  	word-break: break-all;
  	word-wrap: break-word;
  	width: 100%;
  	white-space: pre-wrap;
  	font-family: "Roboto";
  	font-size: 12px;
}
.chats-bottom{
	width: 100%;
	position: absolute;
	height: 70px;
	bottom: 0px;
	background-color: #eee;
	border-top: solid thin #CEC8C8;
}
.chats-text{
	width: calc(100% - 28px);
	height: calc(100% - 28px);
	padding: 10px;
	resize: none;
	outline: none;
	border: none;
	font-size: 13px;
	color: #383838;
	background-color: white;
	font-weight: 400;
	font-family: "Roboto";
	margin-left: 3px;
	margin-top: 3px;
	border-radius: 2px;
	border: solid thin #CEC8C8;
}
.chats-store{
	position: absolute;
	width: 100%;
	overflow: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	top: 60px;
	height: calc(100% - 100px);
}
.chats-top{
	position: absolute;
	padding: 5px;
	top: 0px;
	height: 20px;
	width: calc(100% - 10px);
	border-bottom: solid 1px #eee;
}
.chats-users{
	position: absolute;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
	height: 20px;
	border-bottom: solid 1px #eee;
	top: 30px;
	overflow: hidden;
}
.chats-users > div{
	width: auto;
	height: 100%;
	overflow: hidden;
}
.chats-users img{
	margin-left: 1px;
	margin-right: 1px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
}
.chats-top > h6{
	margin: 0;
}
.chats-top i {
    	padding: 4px;
    	border-radius: 50%;
    	padding-left: 7px;
    	color: #212121;
    	padding-right: 7px;
    	float: right;
    	font-size: 13px;
    	margin-right: 3px;
}
.hide{
	display: none !important;
}
/*
FILE BROWSING TREE	
*/
.tree-tree{
	overflow: auto;
	height: calc(100% - 34px);
}
.tree ul{
	list-style-type: none;
	-webkit-padding-start: 10px !important;
}
.tree li{
	color: #C8CDCF;
	font-family: 'Roboto';
	font-weight: 300;
	font-weight: 600;
	font-size: 11px;
	margin-top: 5px;
	margin-bottom: 5px;
	overflow-wrap: break-word;
}
.tree span {
  	font-family: "Roboto";
  	font-weight: 400;
  	color: #C8CDCF;
}
.tree i{
	margin-right: 10px;
	color: #C8CDCF;
}

.tree span:not(.context-click) > .context-click{
	display: none;
}

.tree span:not(.context-click):hover > .context-click{
	display: inline-block;
}

.tree .devicons{
	font-size: 14px;
	margin-right: 5px;
}

.tree-folder > span{
	font-weight: 600;
	color: #C8CDCF;
}

.tree-file > span {
	font-size: 11px;
}

#tree-open{
	overflow: scroll;
	position: fixed;
	width: 180px;
	right: 10px;
	top: 43px;
	height: 200px;
	background-color: #323232;
	z-index: 1;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 20px;
}
#tree-open>span{
	color: #E74C3C;
	position: absolute;
	top: 5px;
	left: 5px;
	font-size: 11px;
}
#tree-open>span>i{
	color: #E74C3C !important;
}
.tree .fa-spin{
	color: #FF8F00;
}

#image_div{
	display: flex;
	align-items: center;
	justify-content: center;
	display:none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.62);
}
#image_div>img{
	max-width: 80%;
	max-height: 80%;
}

#profile_div{
	height: 33px;
	margin-top: 2px;
	border-radius: 3px;
	padding: 2px;
	padding-left: 3px;
	padding-right: 3px;
}

#profile_div > i{
	float: right;
    	margin-top: 12px;
    	color: #bdc3c7;
}

#profile_div > img{
	float: left;
}

/*======
LOADING ICON
=======*/

#paper-loading-spinner {
  	-webkit-animation: spinning-cog 1.3s infinite ease;
  	-moz-animation: spinning-cog 1.3s infinite ease;
  	-ms-animation: spinning-cog 1.3s infinite ease;
  	-o-animation: spinning-cog 1.3s infinite ease;
  	animation: spinning-cog 1.3s infinite ease;
}
@-webkit-keyframes spinning-cog {
  	0% { -webkit-transform: rotate(0deg) }
  	20% { -webkit-transform: rotate(-45deg) }
  	100% { -webkit-transform: rotate(360deg) }
}
@-moz-keyframes spinning-cog {
  	0% { -moz-transform: rotate(0deg) }
  	20% { -moz-transform: rotate(-45deg) }
  	100% { -moz-transform: rotate(360deg) }
}
@-o-keyframes spinning-cog {
  	0% { -o-transform: rotate(0deg) }
  	20% { -o-transform: rotate(-45deg) }
  	100% { -o-transform: rotate(360deg) }
}
@keyframes spinning-cog {
  	0% { transform: rotate(0deg) }
  	20% { transform: rotate(-45deg) }
  	100% { transform: rotate(360deg) }
}
.select-target{
	margin-left: 10px;
	font-family: "Roboto";
}

.overlay-tint{
	background-color: rgba(0,0,0,0.1);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;	
	z-index: 99;
}

.overlay-tint > div{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 100%;
}

.overlay-tint > div > div{
	padding: 20px;
	background-color: white;
	border-radius: 2px;
	position: relative;
	width: 90%;
	height: 90%;
}

.overlay-tint > div > div > iframe{
	position: relative;
	width: 100%;
	height: 100%;
	border: none;
}

.overlay-tint h2{
	font-size: 16px;	
}

.overlay-tint pre{
	overflow-wrap: break-word;
}

#keyboard-manager{
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	position: relative;
	height: calc(100% - 100px);
	margin-bottom: 40px;
}

#keyboard-manager > div{
	width: calc(100% - 10px);
	padding: 10px;
	padding-bottom: 20px;
	padding-top: 20px;
	border-bottom: solid 1px #eee;
}

#keyboard-manager > div > h5{
	margin: 0;
	color: rgb(77, 75, 75);
	font-size: 16px;
}

#keyboard-manager > div > h5 > span{
	float: right;
	color: #A39F9F;
}

.normal-input{
	font-size: 15px;
    	padding: 8px;
    	border: solid thin #eee;
    	border-radius: 5px;
    	outline: none !important;
}

/*
* BROADCAST
*/
#broadcast{
	position: fixed;
    z-index: 99;
    right: 0;
    bottom: 0;
    padding: 10px;
    background-color: rgba(251, 251, 251, 0.87);
    width: calc(100% - 22px);
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 12px;
}
#broadcast p{
	margin: 0;
	font-weight: 500;
    font-size: 15px;
    font-family: "Roboto";
    color: #2D2B2B;
    margin-right: 5px;
}
#broadcast > div{
	text-align: center;
	display: flex;
	display: -ms-flex;
	display: -moz-flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
#broadcast button{
	text-decoration: none;
	color: white;
	background-color: #313030;
	border: none;
	font-size: 13px;
	padding: 4px;
	border-radius: 2px;
	font-family: &quot;Roboto&quot;;
	font-weight: bold;
}
#donate > *{
	display: inline-block;
}
#broadcast > i{
	color: #212121;
    position: absolute;
    right: 5px;
    top: 8px;
}

#ad h4{
	margin: 0;
	font-size: 12px;
}

#ad button{
	margin-top: 5px;
	border: none;
	background-color: #eee;
	border: solid thin gray;
	border-radius: 3px;
}

/*
* CONTEXT
*/

.popup{
	position: absolute;
	z-index: 90;
	background-color: white;
	border-radius: 1px;
	right: 5px;
	top: 35px;
	border: solid 1px #E6E6E6;
}
.popup>span{
	display: block;
    padding: 8px;
    padding-left: 16px;
    font-family: 'Roboto';
    padding-right: 19px;
    font-size: 13px;
    color: #383535;
    border-bottom: none;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: left;
    width: 79px;
    width: 80px;
}
.popup>*{
	border-bottom: solid 1px #eee !important;
}
.popup>*:last-child{
	border-bottom: none !important;
}
.popup a{
	color: #5E5B5B !important;
}

.popup>span i{
	margin-right: 5px;
}

.popup>span:hover{
	background-color: #eee;
}

#setting-popup{
  width: 200px;
}

#context{
	display: none;
	width: 115px;
}

#context:before{
	left: 13px;
}

.context-menu--active{
	display: block !important;
}

.context-click{
  padding: 3px;
}

#color-popup{
	width: 385px !important;
    background-color: transparent !important;
    border-radius: 0px !important;
    border: none !important;
    padding: 0 !important;
}
#color-popup > div{
	margin: 0 !important;
}

.repl{
	
}

.close{
	display: none !important;
}