#tutorial{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: rgba(0,0,0,0.75);
}

#tutorial core-animated-pages{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	overflow-x: hidden;	
	overflow-y: scroll;
}

#tutorial section > div{
	height: 100%;
	color: white;
}

#tutorial_close{
	color: white;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 10001;
}

#tutorial_back{
	color: white;
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 10001;
}

#tutorial_forward{
	color: white;
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 10001;
}

#tutorial code{
	background-color: rgba(255,255,255,0.2);
}

.ghost-button{
	background-color: transparent;
	border: solid thin white;
	border-radius: 5px;
	color: white;
	padding: 5px;
	margin-bottom: 5px;
	width: 200px;
	text-align: center;
}

.ghost-button:hover{
	background-color: rgba(255,255,255,0.75);
	color: black;
	border: solid thin white;
}

.ghost-button-red{
	border: solid thin #E74C3C;
	color: #E74C3C;
}

.ghost-button-red:hover{
	border: solid thin #E74C3C;
	background-color: rgba(255,0,0,0.75);
}

.ghost-button-blue{
	border: solid thin #3498DB;
	color: #3498DB;
}

.ghost-button-blue:hover{
	border: solid thin #3498DB;
	background-color: rgba(0,0,255,0.75);
}

#tutorial h3{
	padding-bottom: 10px;
	text-align: center;
}
#tutorial h5{
	font-size: 16px;
}
#tutorial h5,#tutorial h8{
	text-align: center;
}
#tutorial h8{
	width: 300px;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: solid thin rgba(255,255,255,0.2);
	text-align: left;
}
#tutorial h8 core-icon{
	margin-right: 5px;
}