@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
html{
	height: 100%;
	width: 100%;
}
body {
	background-color: #181D1E;
    height: 100%;
}
.CodeMirror{
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
}
#content{
	position: relative;
    height: 93%;
    width: 100%;
    margin: 0px;
    float: right;
}
#container{
	position: relative;
    height: 100%;
    width: 100%;
    margin-top: -25px;
}
#side{
	height: 100%;
	width:0%;
	position: relative;
	float:left;
	background-color: white;
	overflow-x: hide;
}
#col_button{
	margin-top: 8px;
	vertical-align: middle;
}
#note{
	margin-top: 8px;
	vertical-align: middle;
}
:focus {
	outline: none;
}
.switch-press-right {
	float:right;
}
#renameInput{
	width: 200px;
	border: solid 3px white;
}
#ok_cancel_group {
	margin-top: 8px;
}

nt-face {
	    font-family: 'LigatureSymbols';
	    src: url('/lib/LigatureSymbols/LigatureSymbols-2.11.eot');
	    src: url('/lib/LigatureSymbols/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
	    url('/lib/LigatureSymbols/LigatureSymbols-2.11.woff') format('woff'),
	    url('/lib/LigatureSymbols/LigatureSymbols-2.11.ttf') format('truetype'),
	    url('/lib/LigatureSymbols/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
	    src: url('/lib/LigatureSymbols/LigatureSymbols-2.11.ttf') format('truetype');
            font-weight: normal;
	    font-style: normal;
}

.lsf, .lsf-icon:before {
	  font-family: 'LigatureSymbols';
	  -webkit-text-rendering: optimizeLegibility;
	  -moz-text-rendering: optimizeLegibility;
	  -ms-text-rendering: optimizeLegibility;
	  -o-text-rendering: optimizeLegibility;
	  text-rendering: optimizeLegibility;
	  -webkit-font-smoothing: antialiased;
	  -moz-font-smoothing: antialiased;
	  -ms-font-smoothing: antialiased;
	  -o-font-smoothing: antialiased;
	  font-smoothing: antialiased;
}

.lsf-icon:before {
	content:attr(title);
	margin-right:0.3em;
	font-size:130%;
}

.lsf-icon.amazon:before {
	  content: '\E007';
}
/*animations*/
@-webkit-keyframes shrinkSide {
	from {
		width: 20%;
	}
	to {
		width: 0%;
	}
}
@keyframes shrinkSide {
	from {
		width: 20%;
	}
	to {
		width: 0%;
	}
}
@-webkit-keyframes shrinkContent {
	from {
		width: 100%;
	}
	to {
		width: 80%;
	}
}
@keyframes shrinkContent {
	from {
		width: 100%;
	}
	to {
		width: 80%;
	}
}

@-webkit-keyframes expandSide {
	from {
		width: 0%;
	}
	to {
		width: 20%;
	}
}
@keyframes expandSide {
	from {
		width: 0%;
	}
	to {
		width: 20%;
	}
}
@-webkit-keyframes expandContent {
	from {
		width: 80%;
	}
	to {
		width: 100%;
	}
}
@keyframes expandContent {
	from {
		width: 80%;
	}
	to {
		width: 100%;
	}
}
.expandSide{
	animation: expandSide 0.5s;
	-webkit-animation: expandSide 0.5s;
}
.expandContent{
	animation: expandContent 0.5s;
	-webkit-animation: expandContent 0.5s;
}
.shrinkSide{
	animation: shrinkSide 0.5s;
	-webkit-animation: shrinkSide 0.5s;
}
.shrinkContent{
	animation: shrinkContent 0.5s;
	-webkit-animation: shrinkContent 0.5s;
}
/*side*/
#placeholder {
	/*background-color: #c0c0c0;*/
	background-color: #BDC3C7;
	width: 100%;
	height: 100%;
	display: block;
}
#pad {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #E67E22;
}
#docs {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
#brow {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
#todo {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	overflow-y: scroll;
	background-color: #BDC3C7;
}
#the-arrow {
	color: white;
}
#chooseGroup {
	width: 100%;
}
#chooseDoc {
	width: 100%;
	height: 5%;
	border-radius: 0px;
}
#doc-iframe {
	width: 100%;
	height: 95%;
}
.todo-todo {
	background-color: rgba(255,247,29,0.91);
	border-radius: 1px;
	width: 98%;
	height: 40px;
	
	margin-bottom: 2px;
}
.todo-desc {
	margin-left: 3px;
	color: white;
}
.todo-line {
	margin-top: 5px;
	padding-right: 3px;
	color: white;
	float: right;
}
.todo-fixme {
	background-color: #e68b8b;
	border-radius: 1px;
	width: 98%;
	height: 40px;
	
	margin-bottom: 2px;
}
.todo-note {
	background-color: rgba(82,226,111,0.8);
	border-radius: 1px;
	width: 98%;
	height: 40px;
	
	margin-bottom: 2px;
}
#todo > div > span > button {
	width: 40px;
	height: 40px;
	border-radius: 0px;
	border:none;
	background: none;
	box-shadow: none;
	color: white;
}
#todo > div > span > button:hover {
	color: black;
}
#notepad {
	height: 90%;
	width: 100%;
}
#brow {
	height: 90%;
	width: 100%;
}
#chooseMode {
	height: 10%;
	width: 100%;
}
@-webkit-keyframes removeTodo {
	from {
		margin-left: 0%;
	}
	to {
		margin-left: -98%;
	}
}
@keyframes removeTodo {
	from {
		margin-left: 0%;
	}
	to {
		margin-left: -98%;
	}
}
.removeTodo{
	animation: removeTodo 0.5s;
	-webkit-animation: removeTodo 0.5s;
}
#iframe {
	height: 90%;
	width: 100%;
}

.logo {
	background-color: white;
	border: thick solid white;
	font-size: 30px;
}
#logo_left {
	color: #E74C3C;
}
#logo_right {
	color: #3498DB;
}
#logo_mid {
	color: #2ECC71;
}
#theTabs {
	width: 100%;
}
#theTabs > button {
	width: 25%;
	border-radius: 0px;
}
.tab-left {
	width: 33%;
}
.tab-mid {
	width: 34%;
}
.tab-right {
	width: 33%;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
#todo_ul > li {
	border-radius: 0px;
}
/*



*/
nav {
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.toolBAR {
	margin-right: 10px;
	margin-top: 10px;
}
table {
	margin-top: 10px;
	padding: 2px;
	border-radius: 4px;
}
.switch {
	margin-top: 5px;
	margin-left: 5px;
}
table {
	background-color: #253342;
	padding-top: 5px;
	margin-left: 5px;
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
    display: block;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}
#theme_ul {
	list-style-type: none;
	width: 100%;
	float:left;
	margin: 0px;
	height: 800px;
	overflow: auto;
}
#theme_ul > li {
	background-color: #34495E;
	color: #ECF0F1;
	width: 100%;
	margin: 0px;
	padding: 10px;
	border-radius: 2px;
	border-bottom: thin solid #2C3E50;
}
#theme_ul > li:hover {
	background-color: #2C3E50;
	color: #1abc9c;
}
#todo_ul > li {
	border-radius: 0px;
}
#user_p,
#user_id_p {
	color: #7F8C8D;
	font-size: 15px;
}
hr {
	background-color: #7F8C8D;
	border-color: #7F8C8D;
	color:#7F8C8D;
}
#pic_img {
	margin: 10px;
	border: solid thick #E74C3C;
}
.theme-div {
	
}
#preview {
	height: 800px;
	width: 100%;
}
#cogLI {
	margin-right: 5px;
}
/*
markdown
*/
.cm-header { font-family: arial; }
.cm-header1 { font-size: 150%; }
.cm-header2 { font-size: 130%; }
.cm-header3 { font-size: 120%; }
.cm-header4 { font-size: 110%; }
.cm-header5 { font-size: 100%; }
.cm-header6 { font-size: 90%; }
.cm-strong { font-size: 140%; }

.CodeMirror-empty { outline: 1px solid #c22; }
.CodeMirror-empty.CodeMirror-focused { outline: none; }
.CodeMirror pre.CodeMirror-placeholder { color: #999; }
