body{
	/*background-attachment: fixed;*/
	background-color: #34495E;
}
.date{
	color:#BDC3C7;
}
.next{
	color:white;
	width:100%;
	background-color:#2C3E50;
	margin-top:10px;
	padding:20px;
}
.tags{
	border: solid thin #bdc3c7;
	border-radius: 5px;
	margin-top: 10px;
	padding: 5px;
}
#profile{
	width: 15%;
	height: 300px;
	position: fixed;
	left: 2%;
}
.media{
	border:none;
}
#profile .next{
	text-align: center;
	padding: 5px;
}
.news{
	background-color: white;
	padding: 10px;
	margin-top: 10px;
	word-wrap:break-word;
}
.news h5{
	margin-bottom: 5px;
	text-align: center;
}
.news a{
	text-align: center;
	width: 100%;
}