.mail-in {
	margin: 2px;
}
@font-face {
    font-family: 'LigatureSymbols';
    src: url('LigatureSymbols-2.11.eot');
    src: url('LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
         url('LigatureSymbols-2.11.woff') format('woff'),
         url('LigatureSymbols-2.11.ttf') format('truetype'),
         url('LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    src: url('LigatureSymbols-2.11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.lsf, .lsf-icon:before {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.lsf-icon:before {
  content:attr(title);
  margin-right:0.3em;
  font-size:130%;
}

.lsf-icon.amazon:before {
  content: '\E007';
}
pre {
	text-align: left;
}
/*

*/
#logo {
	color: #68d86a;;
	margin-right: 3px;
}
.btn-danger:hover {
	background-color: red;
}
#content {
	float: left;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 2%;
	width: 80%;
}
#drop {

}
#main_logo {
	text-align: center;
}
.tile {
	margin-right: 5%;
	margin-bottom: 5%;
	width: 28%;
	height: 100%;
}
.gridster > ul > li {
	color: white;
	text-align: center;
	font-size: 100%;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
}
.gridster > ul {
	list-style-type: none;
	
}
.gr-1 {
	background-color: #E74C3C;
}
.gr-2 {
	background-color: #3498DB;
}
.gr-3{
	background-color: #2ECC71;
}
.navbar-fixed-top > .btn-toolbar > .btn-group > button {
	border-radius: 0px;
}
.gist{font-size:13px;line-height:18px;margin-bottom:20px;width:100%}
.gist pre{font-family:Menlo,Monaco,'Bitstream Vera Sans Mono','Courier New',monospace !important}
.gist-meta{font-family:Helvetica,Arial,sans-serif;font-size:13px !important}
.gist-meta a{color:#26a !important;text-decoration:none}
.gist-meta a:hover{color:#0e4071 !important}

.large_main {
}

#col_left{
	float: left;
	width: 50%;
	height: 100%;
	background-color: #eee;
}
#col_right{
	float: right;
	width: 50%;
	height: 100%;
	background-color: #eee;
}
.b-left{
	border-left: thin #736f6f solid;
}
.jumbotron {
}
.b-left {
}
.b-right {
}
.go-right {
	margin-left: 10%;
}

.tile > h4 > .fa {
	padding: 35px;
}