@media only screen and (max-width: 991px) {
	.tile{
		width: 80%;
	}
	.gr-1, .gr-2, .gr-3{
		width: 80%;
	}
}
@media only screen and (max-width: 400px) {
	#ribbon{
		display: none;
	}
}
.mail-in {
	margin: 2px;
}
@font-face {
    font-family: 'LigatureSymbols';
    src: url('LigatureSymbols-2.11.eot');
    src: url('LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
         url('LigatureSymbols-2.11.woff') format('woff'),
         url('LigatureSymbols-2.11.ttf') format('truetype'),
         url('LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    src: url('LigatureSymbols-2.11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.lsf, .lsf-icon:before {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.lsf-icon:before {
  content:attr(title);
  margin-right:0.3em;
  font-size:130%;
}

.lsf-icon.amazon:before {
  content: '\E007';
}
pre {
	text-align: left;
}
/*

*/
#logo {
	color: #68d86a;;
	margin-right: 3px;
}
.btn-danger:hover {
	background-color: red;
}
#content {

}
#drop {

}
#main_logo {
	text-align: center;
}
.tile {
	margin-right: 5%;
	margin-bottom: 5%;
	width: 28%;
	height: 100%;
}
.navbar-fixed-top > .btn-toolbar > .btn-group > button {
	border-radius: 0px;
}
.gist{font-size:13px;line-height:18px;margin-bottom:20px;width:100%}
.gist pre{font-family:Menlo,Monaco,'Bitstream Vera Sans Mono','Courier New',monospace !important}
.gist-meta{font-family:Helvetica,Arial,sans-serif;font-size:13px !important}
.gist-meta a{color:#26a !important;text-decoration:none}
.gist-meta a:hover{color:#0e4071 !important}

.large_main {
}

#col_left{
	float: left;
	width: 50%;
	height: 100%;
	background-color: #eee;
}
#col_right{
	float: right;
	width: 50%;
	height: 100%;
	background-color: #eee;
}
.b-left{
	border-left: thin #736f6f solid;
}
.jumbotron {
}
.b-left {
}
.b-right {
}
.tile > h4 > img{
	height: 100px;
}

.tile > h4 > .fa {
	padding: 35px;
}
#about_div{

    margin-top: 0;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    /*background-color: #2ECC71;
    color: white;*/
    border-bottom: solid thick #34495E;
    padding-bottom: 2%;

}
#feature_div{
    margin-top: 0;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    /*background-color: #95A5A6;
    color: white;*/
    border-bottom: solid thick #34495E;
}
#lib_div{
	margin-top: 0;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    /*background-color: #E74C3C;
    color: white;*/
 	padding-bottom:2%;
    border-bottom: solid thick #34495E;
}
#help_div{
	margin-top: 0;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    /*background-color: #3498DB;
    color: white;*/
    border-bottom: solid thick #34495E;
    padding-bottom: 2%;
}
#donate_div{
	margin-top: 0;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    /*background-color: #E67E22;
    color: white;*/
    padding-bottom: 2%;
}
#contact_div{
	margin-top: 0;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    /*background-color: #ECF0F1;
    color: #34495E;*/
    border-bottom: solid thick #34495E;
    padding-bottom: 2%;
}
#main_div{
	margin-top: 0;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    background-color: #34495E;
    color: white;
 	padding-bottom:2%;
 	background-image:url('../images/patterns/stardust.png');
}
#about_div>a,#feature_div>a,#lib_div>a,#help_div>a,#donate_div>a,#contact_div>a{
	color: #34495E;
}
#about_div>a:hover,#feature_div>a:hover,#lib_div>a:hover,#help_div>a:hover,#donate_div>a:hover,#contact_div>a:hover{
	color: #2C3E50;
}
pre{
    color: #34495E;
}
.sep{
    width: auto;
    margin-left: auto;
    text-align: center;
    margin-top: -60px;
    margin-bottom: 50px;
    color: #34495E;
    padding: 5px;
    border-radius: 10px;
    border: solid thick #34495E;
    background-color: white;
}
.tile {
	color: #34495E;
}
.table-striped{
	border: solid thick  #2C3E50;
    background-color: #95A5A6;
    color: #2C3E50;
    margin: 1%;
}
.modes{
	width:80%;
	margin-left:10%;
	border: solid thick #34495E;
	text-align: center;
	color: #34495E;
}
#comment{
	border: solid thick #2C3E50;
	margin-bottom: 10px;
}
#comment_left{
	color: white;
	background-color: #2C3E50;
	height: 100%;
    padding-bottom: 20%;
}
#comment_right{
	padding: 10px;
}
.icon{
	width: 10%;
	height: 10%;
	margin-left: 45%;
}
.fui-check-inverted{
	float: right;
}
.float_left{
	float: left;
}
.go_group{
	width:80%;
	margin-left:10%;
}
.go_group>a{
	width:25%;
}

a{
	text-decoration: underline;
}
a:hover{
	text-decoration: none;
}
.social_table>tbody>tr>td{
	width:50%;
	padding:10px;
}
#social{
    margin: 40px;
}
#social>h4{
    text-align: center;
    background-color: #2C3E50;
    color: white;
    padding: 30px;
    margin-bottom: 0;
    border-radius: 10px;
    margin-bottom: -10px;
    z-index: 0;
}
.social_table{
	border: solid thick #2C3E50;
    margin-top: 0;
    z-index: 10;
    background-color: white;
}
.google_plus > .btn-danger{
    color:white;
    background-color:#E74C3C;
    text-align:center;
    vertical-align: middle;
}
.google_plus > .btn-danger:hover{
	background-color:#C0392B;
}

.github_social > .btn-inverse{
    color:white;
    background-color:#7F8C8D;
    text-align:center;
    vertical-align: middle;
}
.github_social > .btn-inverse:hover{
	background-color:#95A5A6;
}

.email_social > .btn-info{
    color:white;
    background-color:#3498DB;
    text-align:center;
    vertical-align: middle;
}
.email_social > .btn-info:hover{
	background-color:#2980B9;
}

.survey_social > .btn-primary{
    color:white;
    background-color:#2ECC71;
    text-align:center;
    vertical-align: middle;
}
.survey_social > .btn-primary:hover{
	background-color:#29ac47;
}