/*Hipstelvetica_Bold*/
@font-face{
	font-family: 'Odin-Bold';
	src: url('more/Odin-Bold.otf') format('opentype');
	font-weight: 400;
}

@font-face{
	font-family: 'Odin-Light';
	src: url('more/Odin-Light.otf') format('opentype');
	font-weight: 400;
}

@font-face{
	font-family: 'Odin';
	src: url('more/Odin.otf') format('opentype');
	font-weight: 400;
}

@font-face{
	font-family: 'Langdon';
	src: url('more/Langdon.otf') format('opentype');
	font-weight: 400;
}

@font-face{
	font-family: 'Gent';
	src: url('more/Gent.ttf') format('truetype');
	font-weight: 400;
}

@font-face{
	font-family: 'Hip-Bold';
	src: url('more/Hipstelvetica_Bold.ttf') format('truetype');
	font-weight: 400;
}

@font-face{
	font-family: 'Hip-Light';
	src: url('more/Hipstelvetica_Light.ttf') format('truetype');
	font-weight: 400;
}

@font-face{
	font-family: 'Hip-Lighter';
	src: url('more/Hipstelvetica_UltraLight.ttf') format('truetype');
	font-weight: 400;
}

@font-face{
	font-family: 'Baron-Black';
	src: url('more/Baron_Black.otf') format('opentype');
	font-weight: 400;
}

@font-face{
	font-family: 'Baron-Bold';
	src: url('more/Baron_Bold.otf') format('opentype');
	font-weight: 400;
}

@font-face{
	font-family: 'Baron';
	src: url('more/Baron.otf') format('opentype');
	font-weight: 400;
}

@font-face{
	font-family: 'Tesla';
	src: url('more/Tesla.ttf') format('truetype');
	font-weight: 400;
}

@font-face{
	font-family: 'Docker1';
	src: url('Docker1.ttf') format('truetype');
	font-weight: 400;
}

@font-face{
	font-family: 'Docker2';
	src: url('Docker2.ttf') format('truetype');
	font-weight: 400;
}

@font-face{
	font-family: 'Docker3';
	src: url('Docker3.ttf') format('truetype');
	font-weight: 400;
}

.Docker1{
	font-family: 'Docker1';
}

.Docker2{
	font-family: 'Docker2';
}

.Docker3{
	font-family: 'Docker3';
}

@import url('https://cdn.jsdelivr.net/devicons/1.4.0/css/devicons.min.css');

@font-face{
	font-family: 'Devicons';
	src: url('../lib/devicons/devicons.woff') format('woff'), url('../lib/devicons/devicons.ttf') format('truetype');
}

@font-face{
	font-family: 'Lobster';
	src: url('Lobster.woff') format('woff'), url('Lobster.ttf') format('truetype');
	font-weight: 400;
}

@font-face{
	font-family: 'Anders';
	src: url('Anders.woff') format('woff'), url('Anders.ttf') format('truetype');
	font-weight: 400;
}

@font-face{
	font-family: 'Roboto';
	src: url('Roboto-Regular.woff') format('woff'), url('Roboto-Regular.ttf') format('truetype');
	font-weight: 400;
}

@font-face{
	font-family: 'Roboto-Italic';
	src: url('Roboto-Italic.woff') format('woff'), url('Roboto-Italic.ttf') format('truetype');
	font-weight: 400;
}

@font-face{
	font-family: 'Roboto-Black';
	src: url('Roboto-Black.woff') format('woff'), url('Roboto-Black.ttf') format('truetype');
	font-weight: 400;
}

@font-face{
	font-family: 'Roboto-Thin';
	src: url('Roboto-Thin.woff') format('woff'), url('Roboto-Thin.ttf') format('truetype');
	font-weight: 400;
}

@font-face{
	font-family: 'Roboto-Light';
	src: url('Roboto-Light.woff') format('woff'), url('Roboto-Light.ttf') format('truetype');
	font-weight: 400;
}

@font-face{
	font-family: 'Roboto-Bold';
	src: url('Roboto-Bold.woff') format('woff'), url('Roboto-Bold.ttf') format('truetype');
	font-weight: 400;
}

@font-face{
	font-family: 'Roboto-Medium';
	src: url('Roboto-Medium.woff') format('woff'), url('Roboto-Medium.ttf') format('truetype');
	font-weight: 400;
}

.Lobster{
	font-family: 'Lobster';
}

.Anders{
	font-family: 'Anders';
}

.Roboto{
	font-family: 'Roboto';
}

.Roboto-Light{
	font-family: 'Roboto-Light';
}

.Roboto-Black{
	font-family: 'Roboto-Black';
}

.Roboto-Thin{
	font-family: 'Roboto-Thin';
}

.Roboto-Italic{
	font-family: 'Roboto-Italic';
}

.Roboto-Bold{
	font-family: 'Roboto-Bold';
}

.Roboto-Medium{
	font-family: 'Roboto-Medium';
}

.Hip-Light{
	font-family: 'Hip-Light';
}
