@import url('https://cdn.jsdelivr.net/devicons/1.4.0/css/devicons.min.css');

@font-face{
	font-family: 'Devicons';
	src: url('../lib/devicons/devicons.woff') format('woff'), url('../lib/devicons/devicons.ttf') format('truetype');
}

@font-face{
	font-family: 'Lobster';
	src: url('Lobster.woff') format('woff'), url('Lobster.ttf') format('truetype');
	font-weight: 400;
}

@font-face{
	font-family: 'Anders';
	src: url('Anders.woff') format('woff'), url('Anders.ttf') format('truetype');
	font-weight: 400;
}

@font-face{
	font-family: 'Roboto';
	src: url('Roboto-Regular.woff') format('woff'), url('Roboto-Regular.ttf') format('truetype');
	font-weight: 400;
}

@font-face{
	font-family: 'Roboto-Italic';
	src: url('Roboto-Italic.woff') format('woff'), url('Roboto-Italic.ttf') format('truetype');
	font-weight: 400;
}

@font-face{
	font-family: 'Roboto-Black';
	src: url('Roboto-Black.woff') format('woff'), url('Roboto-Black.ttf') format('truetype');
	font-weight: 400;
}

@font-face{
	font-family: 'Roboto-Thin';
	src: url('Roboto-Thin.woff') format('woff'), url('Roboto-Thin.ttf') format('truetype');
	font-weight: 400;
}

@font-face{
	font-family: 'Roboto-Light';
	src: url('Roboto-Light.woff') format('woff'), url('Roboto-Light.ttf') format('truetype');
	font-weight: 400;
}

@font-face{
	font-family: 'Roboto-Bold';
	src: url('Roboto-Bold.woff') format('woff'), url('Roboto-Bold.ttf') format('truetype');
	font-weight: 400;
}

@font-face{
	font-family: 'Roboto-Medium';
	src: url('Roboto-Medium.woff') format('woff'), url('Roboto-Medium.ttf') format('truetype');
	font-weight: 400;
}

.Lobster{
	font-family: 'Lobster';
}

.Anders{
	font-family: 'Anders';
}

.Roboto{
	font-family: 'Roboto';
}

.Roboto-Light{
	font-family: 'Roboto-Light';
}

.Roboto-Black{
	font-family: 'Roboto-Black';
}

.Roboto-Thin{
	font-family: 'Roboto-Thin';
}

.Roboto-Italic{
	font-family: 'Roboto-Italic';
}

.Roboto-Bold{
	font-family: 'Roboto-Bold';
}

.Roboto-Medium{
	font-family: 'Roboto-Medium';
}
