.CodeMirror{
	position: absolute;
	height: 100%;
	width: calc(100% - 53px);
	margin: 0;
	font-size:14px;
	float:left;
	line-height: 1;
	width:100%;
}
#users{
	width: 53px;
	height:calc(100% - 200px);
	float:right;
	position:absolute;
	margin-left: calc(100% - 53px);
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #2C3E50;
}
#bind{
    position: relative;
    height: 99%;
    width: 100%;
    margin: 0px;
    float: right;
    padding-bottom: -30px;
    display: inline-block;
}
#container{
    position: absolute;
    height: calc(100% - 53px);
    width: 100%;
    margin-top: -30px;
}
.navbar{
	border-radius:0px;
	z-index:9;
}
#overlay{
	height:100%;
	width:100%;
	position:absolute;
}
.marker{
	position:relative;
	height:14px;
	width:3px;
	z-index:2;
}
#chat{
	position: absolute;
	margin-left: 80%;
	width: 20%;
	height: calc(100% - 53px);
	margin-top: -30px;
	z-index:-2;
}
#chat_inner{
	height:75%;
	width:100%;
	overflow-y: auto;
	background-color:#ECF0F1;
}
#chat_sep{
	width:100%;
	height:5%;
	background-color:#34495E;
}
#chat_text{
	width:100%;
	height:20%;
	resize: none;
	font-size:14px;
	border-radius:0;
	border:none;
}
/*===========
CHAT BUBBLES
============*/
.bubble{
	width: 80%;
	padding: 5px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	font-size: 14px;
	line-height: 120%;
	z-index: -1;
}
.other-bubble{
	background-color: #95A5A6;
	color: white;
	border-radius: 7px;
	margin-right: 1%;
	float:right;
	border: solid thin #7F8C8D;
}
.your-bubble{
	background-color:#3498DB;
	color:white;
	border-radius: 7px;
	margin-left: 1%;
	float: left;
	border: solid thin #2980B9;
}
.your-image{
    float: right;
	width: 9%;
	position: relative;
	margin-right:2%;
}
.other-image{
	float: left;
	width: 9%;
	position: relative;
	margin-left:2%
}
.bubble-div{
	position: relative;
	width: 100%;
	height: auto;
	margin-top: 3%;
	display: inline-block;
}
/*==============
MODALS
===============*/
.modal-dialog{
	width:90%;
}
#rename-dialog{
	width:90%;
}
.model-content{
	border-radius: 0;
	width:100%;
}
.modal-header{
	text-align: center;
}
/*===============
FLIPPER
===============*/
.flip-container {
	-webkit-perspective: 1000;
	perspective: 1000;
}
.flip-container:hover .flipper, .flip-container.hover .flipper {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.flip-container, .front, .back {
	width: 53px;
	height: 53px;
}
.flipper {
	-webkit-transition: 0.6s;
	transition: 0.6s;
	-moz-transition: 0.6s;
	
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;

	position: relative;
}
.front, .back {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}
.front {
	background-color:red;
	z-index: 2;
	background-image: url('../icon_128.png');
	background-size: 100% 100%;
}
.back {
	background-color:blue;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
	background-image: url('../images/drive_128.png');
	background-size: 100% 100%;
}
#navbar-collapse-01{
	padding-left:0;
}
/*======================
PREFERENCES
=======================*/
.text-center{
	text-align: center;
}
/*=====================
TITLE
======================*/
#title{
    border-radius: 7px;
    padding: 10px;
    margin-left: 5px;
    margin-top: 5px;
    background-color: #2C3E50;
}
#title:hover{
	color:#BDC3C7;
}
/*===================
RENAME
====================*/
#rename_input{
	border-radius:0;
}
#rename_ok{
	border-radius: 0;
}
#rename_no{
	border-radius: 0;
}
/*============
CLOCK
============*/
#clock{
	width:300px;
	margin-left: calc(50% - 150px);
}
#reload_button{
	width:60%;
	margin-left:20%;
}
/*============
MODES
==============*/
#search-ul{
	
}
#search-li{
	background-color:#BDC3C7;
}
#mode-ul{
	margin-top:-21px;
	height: 500px;
	overflow-y: auto;
}
#mode-ul>li{
	border-radius: 0;
	background-color: #ECF0F1;
	border: 1px solid #95A5A6;
}
/*==========
THEMES
==========*/
#theme-ul{
	height: 500px;
	overflow-y: auto;
}
#theme-ul>li{
	border-radius: 0;
	background-color: #ECF0F1;
	border: 1px solid #95A5A6;
}
/*===========
OPTIONS
===========*/
#option-dialog{
	width:260px;
}
.switchery{
	float:right;
}
.form-group{
	padding-bottom:5px;
}
#spinner{
	float: right;
}
#save_addon{
	float: left;
	padding-left: 20px;
	text-align: center;
	height: 100%;
	padding: 12px;
	width:20%;
	padding-bottom: 13px;
}
#save_int{
	width:80%;
	margin-bottom:20px;
}
/*============
BOTTOM
============*/
#main{
	width:100%;
	height:100%;
	position:fixed;
	z-index: 0;
}
#bottom{
	position: fixed;
	width: 100%;
	height: calc(50% - 26px);
	z-index: -6;
	bottom: 0;
	margin: 0;
	background-color: #ECF0F1;
	border-right: solid thin #95A5A6;
}
body{
	overflow-y:hidden;
}
#terminal-iframe{
	width:100%;
	height:100%;
	border:none;
	position:absolute;
}
.nav-tabs > li > a{
	margin-left: -2px;
	color: #ECF0F1;
	border-radius:0;
	background-color:#7f8c8d;
}
.nav-tabs > li > a:hover{
	color: #34495E;
}
.nav-tabs{
	background-color:#95A5A6;
}
.nav-tabs > li .active > a{
	color:#2C3E50;
}
#bottom_button{
	width:63px;
	color:white;
	background-color:#3498DB;
	margin-right:10px;
}
#bottom_button:hover{
	color:white;
	background-color:#2980B9;
}
#bottom_button>a:hover{
	color:white;
}
/*============
LOREM
=============*/
#lorem{
	height: 60%;
	position:absolute;
	overflow-y: auto;
}
/*===========
CONSOLE
============*/
#con{
	width:100%;
}
#con .CodeMirror{
	width: 100%;
}
#note_pad{
	width:100%;
}
/*==========
COLOR
==========*/
#color-dialog{
	width: 40%;
}
#color-li{
	margin-top:10px;
}
/*========
PREVIEW
=========*/
#preview-dialog{
	width:90%;
}
#preview{
	width:100%;
}
/*========
SCREEN
=========*/
/* loading screen */
#screen {
  background-color: #3498DB;
  width:      100%;
  height:     100%; 
  z-index:    9999;
  top:        0; 
  left:       0;
  position: fixed;
}
/* inner part*/
#in-screen {
	text-align: center;
	padding-top: 1%;
	padding-bottom:2%;
	height: auto;
	width: 90%;
	border-radius: 10px;
	padding: 30px;
	margin-left: 5%;
	position: absolute;
	width: 600px;
	margin-left: calc(50% - 300px);
}
#screen-name {
	font-size: 150%;
	color: #2C3E50;
	padding: 8px;
}
.main_load {
	text-align: center;
	margin-bottom: 100px;
}
.main_load > a {
	color: #2C3E50;
}
.main_load > a:hover {
	color: #34495E;
}
.CodeMirror{
	width: calc(100% - 53px);
}
/*=======
CUBE
=======*/

/* 600px by 200px*/

#action-wrap {

	perspective: none;
	-webkit-perspective: none;
	-moz-perspective: none;
	perspective-origin: 0 0;
	-webkit-perspective-origin: 0 0;
	-moz-perspective-origin: 0 0;
	
	transform-origin: 0 100px;
	-webkit-transform-origin: 0 100px;
	-moz-transform-origin: 0 100px;
}
#action-cube {
	position: relative;
	width: 200px;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	
	transform-origin: 0 100px;
	-webkit-transform-origin: 0 100px;
	-moz-transform-origin: 0 100px;
}
#action-cube div {
	position: absolute;
	width: 200px;
	height: 200px;
	nonexist: 0;
}
#action-back {
	background-color:#34495E;
	transform: translateZ(-100px) rotateY(180deg);
	-webkit-transform: translateZ(-100px) rotateY(180deg);
	-moz-transform: translateZ(-100px) rotateY(180deg);
}
#action-right {
	background-color:#2C3E50;
	transform: rotateY(-270deg) translateX(100px);
	-webkit-transform: rotateY(-270deg) translateX(100px);
	-moz-transform: rotateY(-270deg) translateX(100px);
	transform-origin: top right;
	-webkit-transform-origin: top right;
	-moz-transform-origin: top right;
}
#action-left {
	background-color:#2C3E50;
	transform: rotateY(270deg) translateX(-100px);
	-webkit-transform: rotateY(270deg) translateX(-100px);
	-moz-transform: rotateY(270deg) translateX(-100px);
	transform-origin: center left;
	-webkit-transform-origin: center left;
	-moz-transform-origin: center left;
}
#action-top {
	background-color:#2C3E50;
	transform: rotateX(-90deg) translateY(-100px);
	-webkit-transform: rotateX(-90deg) translateY(-100px);
	-moz-transform: rotateX(-90deg) translateY(-100px);
	transform-origin: top center;
	-webkit-transform-origin: top center;
	-moz-transform-origin: top center;
}
#action-bottom {
	background-color:#2C3E50;
	transform: rotateX(90deg) translateY(100px);
	-webkit-transform: rotateX(90deg) translateY(100px);
	-moz-transform-origin: rotateX(90deg) translateY(100px);
	transform-origin: bottom center;
	-webkit-transform-origin: bottom center;
	-moz-transform-origin: bottom center;
}
#action-front {
	background-color:#34495E;
	transform: translateZ(100px);
	-webkit-transform: translateZ(100px);
	-moz-transform: translateZ(100px);
}



#lang-wrap {
	margin: 0 auto;
	left: 230px;
	position: absolute;
	perspective: none;
	-webkit-perspective: none;
	-moz-perspective: none;
	perspective-origin: 0 0;
	-webkit-perspective-origin: 0 0;
	-moz-perspective-origin: 0 0;
	
	transform-origin: 0 100px;
	-webkit-transform-origin: 0 100px;
	-moz-transform-origin: 0 100px;
}
#lang-cube {
	margin: 0 auto;
	position: relative;
	width: 200px;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	
	transform-origin: 0 100px;
	-webkit-transform-origin: 0 100px;
	-moz-transform-origin: 0 100px;
}
#lang-cube div {
	position: absolute;
	width: 200px;
	height: 200px;
}
#lang-back {
	background-color:#F1C40F;
	transform: translateZ(-100px) rotateY(180deg);
	-webkit-transform: translateZ(-100px) rotateY(180deg);
	-moz-transform: translateZ(-100px) rotateY(180deg);
}
#lang-right {
	background-color:#F39C12;
	transform: rotateY(-270deg) translateX(100px);
	-webkit-transform: rotateY(-270deg) translateX(100px);
	-moz-transform: rotateY(-270deg) translateX(100px);
	transform-origin: top right;
	-webkit-transform-origin: top right;
	-moz-transform-origin: top right;
}
#lang-left {
	background-color:#F39C12;
	transform: rotateY(270deg) translateX(-100px);
	-webkit-transform: rotateY(270deg) translateX(-100px);
	-moz-transform: rotateY(270deg) translateX(-100px);
	transform-origin: center left;
	-webkit-transform-origin: center left;
	-moz-transform-origin: center left;
}
#lang-top {
	background-color:#F39C12;
	transform: rotateX(-90deg) translateY(-100px);
	-webkit-transform: rotateX(-90deg) translateY(-100px);
	-moz-transform: rotateX(-90deg) translateY(-100px);
	transform-origin: top center;
	-webkit-transform-origin: top center;
	-moz-transform-origin: top center;
}
#lang-bottom {
	background-color:#F39C12;
	transform: rotateX(90deg) translateY(100px);
	-webkit-transform: rotateX(90deg) translateY(100px);
	-moz-transform: rotateX(90deg) translateY(100px);
	transform-origin: bottom center;
	-webkit-transform-origin: bottom center;
	-moz-transform-origin: bottom center;
}
#lang-front {
	background-color:#F1C40F;
	transform: translateZ(100px);
	-webkit-transform: translateZ(100px);
	-moz-transform: translateZ(100px);
}





#adv-wrap {
	left: 430px;
	position: absolute;
	perspective: none;
	-webkit-perspective: none;
	-moz-perspective: none;
	perspective-origin: 0 0;
	-webkit-perspective-origin: 0 0;
	-moz-perspective-origin: 0 0;
	
	transform-origin: 0 100px;
	-webkit-transform-origin: 0 100px;
	-moz-transform-origin: 0 100px;
}
#adv-cube {
	position: relative;
	width: 200px;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	
	transform-origin: 0 100px;
	-webkit-transform-origin: 0 100px;
	-moz-transform-origin: 0 100px;
}
#adv-cube div {
	position: absolute;
	width: 200px;
	height: 200px;
}
#adv-back {
	background-color:#E74C3C;
	transform: translateZ(-100px) rotateY(180deg);
	-webkit-transform: translateZ(-100px) rotateY(180deg);
	-moz-transform: translateZ(-100px) rotateY(180deg);
}
#adv-right {
	background-color:#C0392B;
	transform: rotateY(-270deg) translateX(100px);
	-webkit-transform: rotateY(-270deg) translateX(100px);
	-moz-transform: rotateY(-270deg) translateX(100px);
	transform-origin: top right;
	-webkit-transform-origin: top right;
	-moz-transform-origin: top right;
}
#adv-left {
	background-color:#C0392B;
	transform: rotateY(270deg) translateX(-100px);
	-webkit-transform: rotateY(270deg) translateX(-100px);
	-moz-transform: rotateY(270deg) translateX(-100px);
	transform-origin: center left;
	-webkit-transform-origin: center left;
	-moz-transform-origin: center left;
}
#adv-top {
	background-color:#C0392B;
	transform: rotateX(-90deg) translateY(-100px);
	-webkit-transform: rotateX(-90deg) translateY(-100px);
	-moz-transform: rotateX(-90deg) translateY(-100px);
	transform-origin: top center;
	-webkit-transform-origin: top center;
	-moz-transform-origin: top center;
}
#adv-bottom {
	background-color:#C0392B;
	transform: rotateX(90deg) translateY(100px);
	-webkit-transform: rotateX(90deg) translateY(100px);
	-moz-transform: rotateX(90deg) translateY(100px);
	transform-origin: bottom center;
	-webkit-transform-origin: bottom center;
	-moz-transform-origin: bottom center;
}
#adv-front {
	background-color:#E74C3C;
	transform: translateZ(100px);
	-webkit-transform: translateZ(100px);
	-moz-transform: translateZ(100px);
}
.cube-font{
	color: white;
	font-size: 50px;
	margin-top: 64px;
}
.cube-top{
	transform: rotateZ(180deg) rotateY(180deg);
	-webkit-transform: rotateZ(180deg) rotateY(180deg);
	-moz-transform: rotateZ(180deg) rotateY(180deg);
}
.cube-bottom{
	transform: rotateZ(180deg) rotateY(180deg);
	-webkit-transform: rotateZ(180deg) rotateY(180deg);
	-moz-transform: rotateZ(180deg) rotateY(180deg);
}
.cube-back{
	transform: rotateZ(180deg);
	-webkit-transform: rotateZ(180deg);
	-moz-transform: rotateZ(180deg);
}
.cube-javascript{
	margin-top:50px;
}
.cube-css{
	margin-top:36px;
}

.screen-loading{
	color:white;
}
.screen-logo{
	color:white;
	margin-top:250px;
}

#mode_ul .list-group-item{
	border: 1px solid #95A5A6;
	background-color: #ECF0F1;
}

/*========
BADGE
==========*/
#unread{
    position: relative;
    background-color: #E74C3C;
}

.sp-buttons-disabled{
	left: -72px;
}

/*==========
TOOLBAR
=========*/
#tool-bar{
	position: absolute;
	float: right;
	width: 53px;
	height: 200px;
	margin-left: calc(100% - 53px);
	top: calc(100% - 200px);
	background-color: #34495e;
	text-align: center;
	padding-top: 10px;
	border-top: solid thin #1d2732;
}

.no-hover{
	color: white;
}
.no-hover:hover{
	color: white;
}

.toolbar-a{
	color: #ecf0f1;
	display:block;
	margin-top: 5px;
}
.toolbar-a:hover{
	color:#2ecc71;
}

#col_button{
	width: 53px;
	display: inline-block;
	background-color: #34495e;
	position: relative;
	overflow:hidden;
}

#col_button i{
	float: left;
    margin-left: 18px;
    margin-top: 4px;
}

/*=======
MENUS
=========*/
.menu-i-offset{
	margin-right: 10px;
}

.menu-a-offset{
	margin-left: 25px;
}

#close_tab{
	background-color: #E74C3C;
    color: white;
    border: solid thin #E74C3C;
}
#close_tab:hover{
	background-color: #C0392B;
	border: solid thin #C0392B;
}
/*======
TEMP
========*/
#temp-dialog{
	width: 90%;
}
#temp-holder{
	height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
	background-color:#ECF0F1;
	border: solid thin #BDC3C7;
	border-top:none;
}
.tile-image{
	border-radius: 5px;
	-moz-border-radius: 5px;
}
#temp-holder img{
	height: 100px;
	border-radius: 10px;
}

#temp-holder .media{
	margin: 10px;
	border: solid thin #BDC3C7;
	padding: 20px;
	background-color: white;
	border-radius: 5px;
}

#temp-holder .btn-primary{
	display: block;
	margin-right: 10px;
	margin-top: 10px;
}

.tags{
	float: left;
	border: solid thin #bdc3c7;
	border-radius: 5px;
	margin-top: 10px;
	padding: 5px;
	width: calc(100% - 92px);
}

#temp-input{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.close{
	color:#E74C3C;
	opacity: 1;
}
.close:hover{
	color:#C0392B;
	opacity: 1;
}