body{
	font-family: 'Roboto' !important;
	overflow-x: hidden;
	overflow-y: hidden;
	margin: 0;
}
#paper-loading-spinner{
	position: fixed;
	z-index: 10;
	top: calc(50% - 14px);
	left: calc(50% - 14px);
}
#side{
	height: 100%;
	width: 300px;
	margin-left: -300px;
	
	z-index: 90;
	position: absolute;
	overflow-x: hidden;
	top: 0;
	left: 0;
}

.nav-1{
	background-color:#F0EFEF;
}

#users, #tool-bar{
	background-color:#2B2B2B;
}
#users{
	overflow: visible;
}


#users, #tool-bar{
	z-index: 3;
}


#side_inner{
    height: calc(100%);
    margin-top: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

#side_inner hr{
	margin-top: 4px;
	margin-bottom: 4px;
	border-top: none;
	height: 1px;
	background-color;#0097a7;
}

.side-item paper-icon-button{
	color: white ;
	border-radius: 50%;
	float: left;
}
.side-item{
	width: calc(100% - 34px);
	height: 21px;
	padding: 6px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 3px;
	border-radius: 26px;
	-webkit-transition-property: background-color;
	-webkit-transition-duration: 0.5s;
	transition-property: background-color;
	transition-duration: 0.5s;
}
.side-item core-icon{
	float: left;
	color: #9E9E9E;
	margin-left: 10px;
	-webkit-transition-property: color; /* Safari */
	-webkit-transition-duration: 0.5s;
	transition-property: color;
	transition-duration: 0.5s;
	height: 19px;
	width: 19px;
}

.side-item h6{
	font-size: 15px;
	margin-left: 34px;
	margin-top: 2px;
	color: #9E9E9E;
	margin-bottom: 5px;
	font-family: 'Roboto-Light';
}

.side-item:hover{
	background-color: #424242;
}
.side-item:hover h6{
	color: #817f7f;
}

.hover-1:hover core-icon{
	color:#e74c3c;
}.hover-2:hover core-icon{
	color:#E74C3C;
}.hover-3:hover core-icon{
	color:#2ecc71;
}.hover-4:hover core-icon{
	color:#9b59b6;
}.hover-5:hover core-icon{
	color:#e67e22;
}.hover-6:hover core-icon{
	color:#C0392B;
}.hover-7:hover core-icon{
	color:#c0392b;
}.hover-8:hover core-icon{
	color:#f1c40f;
}.hover-9:hover core-icon{
	color:#16a085;
}.hover-10:hover core-icon{
	color:#27ae60;
}.hover-11:hover core-icon{
	color:#e74c3c;
}.hover-12:hover core-icon{
	color:#8e44ad;
}.hover-13:hover core-icon{
	color:#f39c12;
}.hover-14:hover core-icon{
	color:#d35400;
}.hover-15:hover core-icon{
	color:#E74C3C;
}.hover-16:hover core-icon{
	color:#1abc9c;
}.hover-17:hover core-icon{
	color:#7f8c8d;
}.hover-18:hover core-icon{
	color:#8e44ad;
}.hover-19:hover core-icon{
	color:#e74c3c;
}

#side{
	background-color: #323232;
}

#side_inner hr{
	background-color: transparent;
	color: transparent;
	border: none;
}


.side-head{
	background-color: #262626;
	padding: 0px;
	text-align: center;
	color: #212121;
	min-height: 43px;
}
.side-head>h6, .side-head>h6:hover{
	color: #424242;
	margin: 0;
	border-bottom: none;
	padding-bottom: 0px;
	color: #424242;
	margin: 0;
	text-align: left;
	margin-left: 13px;
}
.side-head>h6>a{
	color: #424242 !important;
	font-size: 20px;
}

#rename-toggle{
	height: 43px;
	padding: 7px;
	margin-left: 0px;
	width: 31px;
	font-size: 11px;
	/* position: absolute; */
	float: right;
	border-radius: 0;
}

#rename-div{
	display: none;
	background-color: white;
	padding: 0;
	border-bottom: solid thin #E0E4E6;
}
#rename-div>div{
	height:53px;
}

#side_inner>div>h6>span{
	float: right;
}

#rename-div .btn{
	border-radius:0;
}



.nav>li{
	display: inline-block;
}

.nav{
	padding-left: 10px
}

nav{
	overflow: hidden;
}

.side_header, .side-item{
	z-index: 98;
}

@font-face{
	font-family: 'Lobster';
	src: url('../fonts/Lobster.woff') format('woff'), url('../fonts/Lobster.ttf') format('truetype');
	font-weight: 400;
}
/*=====
SAVEAS
=======*/

.side-item{
	background-color: transparent;
	color: red;
}
#side-wrap, #side-nums{
	float: right;
	margin-right: 22px;
	margin-top: -4px;
}


#spinner-font{
	width: 300px;
}


#container{
	height:100% !important;
	width: 100% !important;
	margin:0% !important;
	max-height: 10000 !important;
	max-width: 10000 !important;
	left:0 !important;
	right:0 !important;
	padding:10px !important;
}
#main{
	top:0;
	width:100%;
	height:100% !important;
	padding:5px !important;
}
#actions{
	bottom:0;
	position: absolute;
	top:90%
}
#shadow{
	display:none !important;
}

div#container{
	max-height: none !important;
	max-width: none !important;
}

#preview{
	border: none;
	outline: none;
	width: 100%;
	height: calc(100% - 128px);
	/* margin: 20px; */
	position: absolute;
	background-color: white;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	margin: 0;
	margin-left: 0px;
	margin-top: -16px;
}

.navbar paper-icon-button, .navbar icon-transition{
	color: #323232;
	top: 5px;
	margin-right: 5px;
}
.navbar{
	display: flex;
	display: -webkit-box;
}
paper-toast{
	z-index:400 !important;
}


.search-nothing{
	height: 90%;
    width: 100%;
    padding-top: 40px;
    text-align: center;
    color: gray;
    text-transform: uppercase;
    font-family: 'Roboto-Black';
}
.tab-wrapper{
	height: 40px;
	background-color: #131313;
	position: absolute;
	top: -30px;
	overflow: hidden;
	display: inline-block;
	width: 100%;
}
.tab-container{
	height: 100%;
	position: absolute;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
}
.tab-tab{
	height: 20px;
	position: relative;
	width: 116px;
	padding: 10px;
	background-color: #131313;
	margin-top: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	margin-right: 2px;
	color: #9e9e9e;
	display: inline-block;
	/*top: 0;*/
}
.tab-tab h4{
  margin: 0px;
  font-size: 16px;
  width: 100px;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  float: left;
  word-wrap: break-word;
  overflow: hidden;
  height: 19px;
  font-family: 'Roboto-Thin';
  color: #9e9e9e;
}
.tab-tab h6{
	margin: 0;
	font-size: 19px;
	color: #BEB8B8;
	opacity: 0;
}
.tab-tab:hover{
	display: inline-block !important;
}
.tab-tab:hover h6{
	opacity: 1;
}

.tab-active{
	background-color: #2B2B2B;
	color: #37474f;
	/*top: 2px;*/
}

.tab-active h6{
	color: #f36c60;
}

.CodeMirror{
	line-height: 1 !important;
}

.users-container{
	height: 100%;
	width: 100%;
	-webkit-overflow-scrolling: touch;
	overflow: visible;
}


.chat-input{

}

.chat-item{
  left: 10px;
	margin-top: 7px;
	background-color: #2F2E2E;
	width: calc(100% - 40px);
	position: relative;
	margin-bottom: 7px;
	padding: 10px;
	border-radius: 7px;
}
.chat-item img{
	border-radius: 50px;
}
.chat-item pre{
  width: 100%;
	border: none;
	margin: 0px;
	word-break: break-all;
	word-wrap: break-word;
	width: 100%;
	white-space: pre-wrap;
	font-family: "Roboto-Thin";
	color: #eee;
}

#overlay{
	background-color: #ECF0F1;
	z-index: 1;
}

#overlay h4{
	text-align: center;
	text-transform: uppercase;
	margin-top: 14px;
	color: #DADEDF;
}

.codemirror-container{
	z-index: 2;
}

#profile_pic{
	 float:right;
	 margin-right:5px;
	 border-radius:50%;
	border: none;
	 margin-top: 3px;
}


@media only screen and (max-device-width: 480px) {
     .tab-tab{
	     display: inline-block !important;
     }
     .tab-container{
	     display:-webkit-flex;
		 -webkit-overflow-scrolling: touch;
     }
     .tab-wrapper{
	     display:-webkit-box;
		 overflow:scroll;
     }
}
.mode-li, .theme-li{
	border: solid 1px #eee !important;
}

.mains .CodeMirror{
	height: 100% !important;
}


/*.poly-blue*/
paper-checkbox.poly-blue::shadow #ink[checked] {
	color: #E74C3C;
}
    
paper-checkbox.poly-blue::shadow #checkbox.checked {
	border-color: #E74C3C;
}

paper-slider.poly-blue::shadow #sliderKnobInner,paper-slider.poly-blue::shadow #sliderBar::shadow #activeProgress {
	background-color: #E74C3C;
}

/*.blue-paper-input #focusedUnderline{
	background-color: #E74C3C !important;
}*/

#new_title_input{
	padding: 0;
	display:none;
	position:absolute;
	top:-60px;
	z-index:10;
	margin-left:20px;
	width:calc(100% - 113px);
	color: #eee;
}

#new_title_ok{
	position: absolute;
	z-index: 200;
	top: -60px;
	right: 50px;
	background-color: #72d572;
	border-radius: 50%;
	color: #eee;
}

#new_title_no{
	position: absolute;
	z-index: 200;
	top: -60px;
	right: 7px;
	border-radius: 50%;
	color: #eee;
	background-color: #f36c60;
}

#toggle_side_menu_button{
	color: #afafaf;
}

#toggle_side_menu_button:hover{
	color: #616161;
}

#nav{
	height: 50px;
	margin-bottom: 23px;
}
.nav{
	margin: 0;
}
.nav paper-icon-button, .nav icon-transition{
	margin-top: -1px;
}
.btn{
	padding: 7px;
	font-size: 18px;
	font-family: 'Roboto-Thin';
	background-color: #E74C3C;
	border-radius: 4px;
	color: #eee;
	border: solid 1px #E74C3C;
	-webkit-transition-property: color;
	-webkit-transition-duration: 0.5s;
	transition-property: color;
	transition-duration: 0.5s;
	-webkit-transition-property: background-color;
	-webkit-transition-duration: 0.5s;
	transition-property: background-color;
	transition-duration: 0.5s;
	text-transform: uppercase;
	text-decoration: none;
}
.btn:hover{
	color: #E74C3C;
	background-color: transparent;
}

.no-input{
	width: calc(100% - 36px);
	margin-bottom: 0px;
	box-shadow: none;
	border: none;
	border: solid 2px transparent;
	padding: 7px;
	font-size: 16px;
	font-family: 'Roboto-Black';
	-webkit-appearance: none;
	border-radius: 0px;
	outline: none;
	resize: none;
	padding-bottom: 6px;
	background-color: transparent;
	float: left;
	margin-left: -13px;
	color: #eee;
	height: 26px;
}

.input{
	width: calc(100% - 36px);
	margin-bottom: 0px;
	box-shadow: none;
	border: none;
	border: solid 2px #eee;
	padding: 7px;
	font-size: 16px;
	font-family: 'Roboto-Black';
	-webkit-appearance: none;
	border-radius: 0px;
	outline: none;
	resize: none;
	padding-bottom: 6px;
	background-color: white;
	float: left;
	margin-left: -13px;
	height: 26px;
}
.input:focus{
	-webkit-transition-property: border;
	-webkit-transition-duration: 0.5s;
	transition-property: border;
	transition-duration: 0.5s;
	border: solid 2px #E74C3C;
}

#plus-plus{
	position: absolute;
	right: 0px;
	color: #757575;
	padding: 11px;
	background-color: #3A3939;
	text-align: center;
	font-family: 'Roboto-Thin';
	z-index: 11;
}

.popup{
	position: absolute;
	z-index: 99;
	background-color: #f5f1f1;
	border-radius: 2px;
}

.popup span{
	display: block;
	padding: 6px;
	padding-left: 11px;
	font-family: 'Roboto';
	padding-right: 11px;
	font-size: 11px;
	color: #5E5B5B;
	border-bottom: 1px solid #E2E1E1;
}

.popup span:hover{
	background-color: #eee;
}

#new-popup{
	right: 11px;
	top: 74px;
}

#navigate div{
	color: #9e9e9e;
	width: /*16.6666667%*/ 12.91%;
	display: inline-block;
	float: left;
	height: 23px;
	padding-bottom: 10px;
	padding-top: 10px;
}
#navigate .active{
	background-color:#323232;
}

.side-item a{
	text-decoration: none;
}

.termial{
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	/* top: 0; */
	left: 0;
	margin-top: -17px;
}
.terminal .CodeMirror{
	width: 100%;
	height: calc(100% - 87px);
	position: absolute;
	top: 86px;
	left: 0;
}

#lorem{
	border: none;
	outline: none;
	width: calc(100% - 10px);
	height: calc(100% - 140px);
	position: absolute;
	background-color: white;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	margin: 0;
	margin-left: 0px;
	margin-top: -16px;
	padding: 5px;
	font-family: 'Roboto-Thin';
	color: #9e9e9e;
	background-color: transparent;
}
#lorem-div{
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
#lorem_input{
	width: calc(100%);
	margin-bottom: 0px;
	box-shadow: none;
	border: none;
	border: solid 2px #eee;
	padding: 7px;
	font-size: 16px;
	font-family: 'Roboto-Black';
	-webkit-appearance: none;
	border-radius: 0px;
	outline: none;
	resize: none;
	padding-bottom: 6px;
	background-color: white;
	float: left;
	height: 26px;
	margin-left: 0;
}
#lorem_input:focus{
	-webkit-transition-property: border;
	-webkit-transition-duration: 0.5s;
	transition-property: border;
	transition-duration: 0.5s;
	border: solid 2px #03a9f4;
}
#opt{
	display: block;
	position: absolute;
	height: calc(100%-10px);
	width: calc(100%-10px);
	/* top: 0; */
	left: 0;
	padding: 5px;
	margin-top: -17px;
}
.select{
	z-index: 200;
}

.option-div h4{
	margin: 0;
	font-family: 'Roboto-Thin';
	color: #9E9E9E;
	float: left;
}

.user-photo {
	border: none !important;
	border-radius: 50%;
	margin: 5px;
	width: 44px !important;
	height: 44px !important;
}

#chats-bottom{
	width: 100%;
	position: absolute;
	height: 100px;
	bottom: 0px;
	background-color: #262626;
}
#chats-text{
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	padding: 5px;
	resize: none;
	outline: none;
	border: none;
	background-color: transparent;
	font-family: 'Roboto-Thin';
	font-size: 15px;
	color: #E9E7E7;
}
#chats-store{
	position: absolute;
	height: calc(100% - 181px);
	width: 100%;
	margin-top: -22px;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
.hide{
	display: none !important;
}

core-tooltip{
	outline: none !important;
	-webkit-appearance: none !important;
}

.tree-tree{
	overflow: scroll;
	height: calc(100% - 105px);
}
.tree ul{
	list-style-type: none;
	-webkit-padding-start: 10px !important;
}
.tree li{
	color: #F0EFEF;
	font-family: 'Roboto-Thin';
	font-weight: 600;
	font-size: 15px;
	margin-top: 7px;
	margin-bottom: 7px;
	overflow-wrap: break-word;
}
.tree i{
	margin-right: 10px;
	color: #9E9E9E;
}

#tree-open{
	overflow: scroll;
	position: fixed;
	width: 180px;
	/* padding: 10px; */
	right: 10px;
	top: 43px;
	height: 200px;
	background-color: #323232;
	z-index: 1;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 20px;
}
#tree-open>span{
	color: #E74C3C;
	position: absolute;
	top: 5px;
	left: 5px;
	font-size: 16px;
}
#tree-open>span>i{
	color: #E74C3C !important;
}
.tree .fa-spin{
	color: #2ECC71;
}

#image_div{
	display: flex;
	align-items: center;
	justify-content: center;
}
#image_div>img{
	max-width: 80%;
	max-height: 80%;
}
