body{
	font-family: 'Roboto' !important;
	overflow-x: hidden;
	overflow-y: hidden;
}

#side{
	background-color: white;
	height: 100%;
	width: 30%;
	z-index: 90;
	position: absolute;
}

#detect{
	height: 100%;
    width: 100%;
    z-index: 88;
    position: absolute;
    background-color: black;
	opacity: 0.4;
}

.nav-1, #tool-bar{
	background-color:#00bcd4;
}

#users{
	background-color:#00acc1;
}


#side_header{
	height: 53px;
	background-color:#00bcd4;
	width:100%;
	position: absolute;
}

#side_header > h6{
	width:100%;
	margin: 0;
	margin-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	color: white;
}

.float-right{
	float: right;
}

.new-a{
	color: #BDC3C7;
}
.new-a:hover{
	color: white;
}

.close-a{
	color:#E74C3C;
}
.close-a:hover{
	color: #C0392B;
}

#side_inner{
    height: calc(100% - 53px);
    margin-top: 53px;
    overflow-y: auto;
    overflowy-x: hidden;
}
#side_inner>div{
    width: 100%;
    height: 53px;
    padding: 7px;
}

#side_inner>div>h6{
	color: #34495E;
	font-size: 18px;
}
#side_inner>div>a>h6{
	color: #34495E;
	font-size: 18px;
}
#side_inner>.side-item>h6>small{
    margin-right: 20px;
    margin-left: 10px;
    color: #34495E;
    font-size: 20px;
}
#side_inner>.side-item>a>h6>small{
    margin-right: 20px;
    margin-left: 10px;
    color: #34495E;
    font-size: 20px;
}
#side_inner>.side-head>h6>a{
    margin-right: 20px;
    margin-left: 10px;
    color: #34495E;
    font-size: 20px;
}

#side_inner hr{
	margin-top: 4px;
	margin-bottom: 4px;
	border-top: none;
	height: 1px;
	background-color:#b2b0b0;
}

.side-head{
	background-color:#ECF0F1;
	border-bottom: solid thin #E0E4E6;
	padding: 25px;
	text-align: center;
	color: #34495E;
}
.side-head:hover{
	background-color:#ECF0F1;
	border-bottom: solid thin #E0E4E6;
	padding: 25px;
	text-align: center;
	color: #34495E;
}
.side-head>h6, .side-head>h6:hover{
	color: #34495E;
}
#rename-toggle{
	height: 26px;
    padding: 4px;
    margin-left: 15px;
    width: 26px;
    font-size: 11px;
}

#rename-div{
	display: none;
	background-color: white;
	padding: 0;
	border-bottom: solid thin #E0E4E6;
}
#rename-div>div{
	height:53px;
}

#rename_input{
	border-radius:0;
	border:none;
	height:53px;
}

#side_inner>div>h6>span{
	float: right;
}

.side-modal{
	height: 98%;
	top: 1%;
	width: 68%;
	position: absolute;
	z-index: 99;
	background-color: white;
	right: 1%;
}

#rename-div .btn{
	border-radius:0;
}


.new-nav-a{
	color: #ECF0F1;
}
.new-nav-a:hover{
	color: white;
}

/*======
CHAT
========*/
.side-modal-chat #chat_sep{
	display: none;
	background-color: transparent;
}

.side-modal-chat .your-image, .side-modal-chat .other-image{
	width: 50px;
}

.side-modal-chat .bubble{
	width: calc(100% - 100px);
	word-wrap:break-word;
}

.side-modal-chat #chat_text{
	position: absolute;
	bottom: 0;
}

.nav>li{
	display: inline-block;
}
.nav{
	padding-left: 10px
}
nav{
	overflow: hidden;
}
#note_pad .CodeMirror{
	width: 100%;
}

.button-danger{
	color: #ECF0F1;
}
.button-default{
	color: #ECF0F1;
}
.button-danger{
	color: #E74C3C;
}
body{
	overflow: scroll;
}
#screen{
	background-color: #424242;
	display: none;
}
#screen img{
	width: 93%;
	left: 2%;
	display: block;
	height: auto;
	padding-bottom: 48px;
	padding-top: 40px;
	position: relative;
}
.danger-zone, .danger-zone:hover{
	background-color:#E74C3C;
}
.danger-zone:hover > h6, .danger-zone > h6{
	color: white;
}
.side-note{
	margin-left: 10px;
	background-color: #95A5A6;
	color: white;
	padding: 10px;
	border-radius: 26px;
	font-size: 12px;
}
.nudge{
	margin-top: 7px;
}

.side_header, .side-item{
	z-index: 98;
}
.mover{
	width: 100%;
	height:53px;
	background-color:#83AEC9;
	top: 169px;
	z-index: -10;
	position: absolute;
	display: none; 
}

@font-face{
	font-family: 'Lobster';
	src: url('../fonts/Lobster.woff') format('woff'), url('../fonts/Lobster.ttf') format('truetype');
	font-weight: 400;
}
#branding{
	font-family: 'Lobster';
}

.side-modal-terminal .CodeMirror{
	height: 100%;
	width: 100%;
	position: absolute;
}

/*=====
SAVEAS
=======*/
.saveas-wrapper{
	z-index: 100;
}
.saveas-detect{
	position:absolute;
	height: 100%;
	width:100%;
	z-index:99;
}

.saveas-modal{
	background-color: white;
	height: 80%;
	width: 80%;
	position: absolute;
	top: 10%;
	left: 10%;
	z-index: 100;
}

.saveas-wrapper{
	height: 100%;
	width: 100%;
	position: absolute;
}

.saveas-modal .btn-group{
	width: 80%;
	margin-left: 10%;
	margin-top: 20px;
}

.saveas-modal .btn-group a{
	width: 50%;
}

.side-item{
	background-color: transparent;
	color: #009688;
}

#side-wrap, #side-nums{
	float: right;
	margin-right: 22px;
	margin-top: 18px;
}


#spinner-font{
	width: 100%;
}
paper-input{
	margin-left: 5px;
}
paper-dialog{
	z-index: 99 !important;
	background-color: white !important;
	position:absolute !important;
	left: 0% !important;
	float:left;
	width: 100% !important;
	height: 100% !important;
	top: 0 !important;
}
paper-dialog>div{
	position: absolute;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 90%;
	left: 0;
	height: calc(100% - 150px);
	/* padding: 0; */
	/* padding: 5%; */
	left: 5%;
}

paper-dialog paper-button{
	color: #E74C3C;
	bottom:0;
	position: absolute;
}
#container{
	height:100% !important;
	width: 100% !important;
	margin:0% !important;
	max-height: 10000 !important;
	max-width: 10000 !important;
	left:0 !important;
	right:0 !important;
	padding:10px !important;
}
#main{
	top:0;
	width:100%;
	height:100% !important;
	padding:5px !important;
}
#actions{
	bottom:0;
	position: absolute;
	top:90%
}
#shadow{
	display:none !important;
}

div#container{
	max-height: none !important;
	max-width: none !important;
}

.poly-dialog{
	background-color: white;
	height: 100%;
	width: 100%;
	position: absolute;
	height:auto ;
	min-height: 100%;
	width: 100% ;
	left: 0 ;
	top: 0 ;
	display: none;
	padding: 0px;
}







paper-fab{
	top:18px !important;
	z-index: 300 !important;
	color: black !important;
	position: absolute;
	background-color: #EEFF41 !important;
	right:18px
}

.poly-dialog .header{
	height: 53px;
	width: 100%;
	background-color:#00bcd4;
	color: white;
	padding: 2px;
}

.poly-dialog .header paper-fab{
	background-color: #e84e40;
	border: solid thin white;
}

.poly-dialog .header small{
	font-size:25px;
	font-weight:bold;
	margin-left:30px;
	font-family: 'Roboto' !important;
}

.poly-dialog .content{
	bottom: 0;
	height: calc(100% - 53px);
	position: absolute;
	width: 100%;
	overflow-y: scroll;
	background-color:#F7F7F7;
	font-family: 'Roboto' !important;
}

#mode_input, #theme_input, #lorem_input{
	width: 80%;
	height: calc(100% - 10px);
	margin-top: 5px;
	margin-left: 5px;
}
.poly-input::-webkit-input-placeholder {
	color: white;
}
.poly-input::-moz-placeholder {
	color: white;
}
.poly-input:-moz-placeholder {   /* Older versions of Firefox */
	color: white;
}
.poly-input:-ms-input-placeholder { 
	color: white;
}

#preview{
	border: none;
	outline: none;
	width: calc(100% - 40px);
	height: calc(100% - 40px);
	margin: 20px;
	position: absolute;
	background-color:white;
}

#preview-dialog .content{
	-webkit-overflow-scrolling: touch;
	overflow: scroll;
}
#lorem{
	padding: 20px;
	width: calc(100% - 40px);
	height: calc(100% - 40px);
	margin: 20px;
	background-color:white;
}
#rename_input{
	border: none;
}

#screen h1{	
	color: white;
    text-align: center;
}

.navbar paper-icon-button{
	color: white;
	top: 5px;
	margin-right: 5px;
}
.navbar{
	display: flex;
	display: -webkit-box;
}
core-menu{
	width: 100%;
	margin:0;
	padding: 0;
}
.side-item paper-ripple{
	width: 100%;
	height: 53px;
	/* margin-bottom: 100%; */
	margin-top: -53px;
}
.header-close{
	float: right;
	color: black !important;
	background-color: #EEFF41 !important;
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 5px;
}
paper-toast{
	z-index:400 !important;
}
#terminal-dialog .CodeMirror{
	width: calc(100% - 40px);
	height: calc(100% - 40px);
	margin: 20px;
}
#options-dialog .content{
	padding: 20px;
}
#options-dialog h6{
	width: calc(100% - 100px);
	float: left;
	font-size: 20px;
}
#options-dialog paper-checkbox{
	float:right;
}
.side-modal-row{
	display: flex;
	margin-bottom: 5px;
}
.side-modal-row core-icon{
	margin-right: 5px;	
}
.poly-input{
	color: white;
	background-color: transparent;
	border:none;
	border-bottom: solid thin white !important;
	border-radius: 0px;
	font-family: 'Roboto-Thin' !important;
}
#mode-ul paper-ripple, #theme-ul paper-ripple{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: -1px;
	color: red;
}
/*
<div class="search-nothing hide" id="mode-nothing">
  <h6>Nothing Found Here</h6>
  <h6><core-icon icon="explore"></core-icon></h6>
  <h6>Look Elsewhere</h6>
</div>
*/
.search-nothing{
	height: 90%;
    width: 100%;
    padding-top: 40px;
    text-align: center;
    color: gray;
    text-transform: uppercase;
    font-family: 'Roboto-Black';
}
.tab-wrapper{
	height: 40px;
	background-color: #CFD8DC;
	position: absolute;
	border-bottom: thin solid #BDBDBD;
	top: -30px;
	overflow: scroll;
	display: inline-block;
	width: 100%;
}
.tab-container{
	height: 100%;
	position: absolute;
	overflow-x: scroll;
	overflow-y: hidden;
	width: auto;
}
.tab-tab{
	height: 35px;
	position: relative;
	width: 137px;
	padding: 10px;
	background-color: #EEE;
	margin-top: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-right: 2px;
	color: #546E7A;
	display: inline-flex;
}
.tab-tab h4{
  margin: 0px;
  font-size: 16px;
  width: 100px;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  float: left;
  word-wrap: break-word;
  overflow: hidden;
  height: 19px;
}
.tab-tab h6{
	margin: 0;
	font-size: 19px;
	color: #BEB8B8;
	display: none;
}
.tab-tab:hover h6{
	display: block;
}

.tab-active{
	background-color: #fafafa;
	color: #37474f;
}

.tab-active h6{
	color: #f36c60;
}

.CodeMirror{
	line-height: 1 !important;
}

.users-container{
	height: 100%;
	width: 100%;
	-webkit-overflow-scrolling: touch;
}

.poly-chat{
	width: 300px;
	height: 60%;
	z-index: 2;
	background-color: white;
	position: absolute;
	right: 0;
	top: 53px;
}

.poly-chat-content{
	width: 100%;
	height: calc(100% - 40px);
	position: absolute;
	top: 0px;
	overflow-y: scroll;
	background-color: #EEE;
	overflow-x: hidden;
	right: 1px;
}

.poly-chat-footer{
	height: 40px;
	width: 100%;
	background-color: #424242;
	position: absolute;
	bottom: 0;
}

.chat-input{
	width: calc(100% - 50px);
	height: 30px;
	margin-bottom: 5px;
	font-size: 14px;
	font-family: 'Roboto-Thin';
	resize: none;
	border: none;
	border-radius: 2px;
	outline: none;
	-webkit-appearance: none;
	margin-top: -120px;
	border: solid thin #424242;
}

.chat-item{
  left: 10px;
  margin-top: 7px;
  background-color: #FFF;
  width: calc(100% - 20px);
  position: relative;
  margin-bottom: 7px;
}
.header-item{
  height: 30px;
  background-color: #F5F5F5;
}
.header-item img{
	margin-bottom: 2px;
}
.header-item h4{
	position: absolute;
	left: 39px;
	margin-top: -29px;
	color: #424242;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 17px;
	width: calc(100% - 40px);
}
.message-item{
  width: 100%;
	height: calc(100% - 10px);
	padding: 5px;
}
.message-item pre{
  width: 100%;
  border: none;
  margin: 0px;
  word-break: break-all;
  word-wrap: break-word;
  width: calc(100% - 40px);
  white-space: pre-wrap;
  font-family: "Roboto-Thin"; 
}