body{
	font-family: 'Roboto' !important;
	overflow-x: hidden;
	overflow-y: hidden;
}

#side{
	height: 100%;
	width: 25%;
	z-index: 90;
	position: absolute;
	overflow-x: hidden;
}

.detect{
	height: 100%;
    width: 100%;
    z-index: 88;
    position: absolute;
    background-color: rgba(0,0,0,0.4);
}

.nav-1, #tool-bar{
	background-color:#00bcd4;
}

#users{
	background-color:#00acc1;
}


#users, #tool-bar{
	z-index: 3;
}


#side_inner{
    height: calc(100%);
    margin-top: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

#side_inner hr{
	margin-top: 4px;
	margin-bottom: 4px;
	border-top: none;
	height: 1px;
	background-color;#0097a7;
}

.side-item paper-icon-button{
	color: white ;
	border-radius: 50%;
	float: left;
}
.side-item{
	width: 100%;
	height: 54px;
	padding: 7px;
}
.side-item h6{
	float: left;
	font-size: 20px;
	margin-left: 13px;
	margin-top: 9px;
	color: white;
	font-family: 'Roboto';
}

#side{
	background-color: #34495E;
}

#side_inner hr{
	background-color: #2C3E50;
}


.side-head{
	background-color:transparent;
	padding: 7px;
	text-align: center;
	color: #eeeeee;
}
.side-head>h6, .side-head>h6:hover{
	color: #eeeeee;
	margin: 0;
}
.side-head>h6>a{
	color: #eeeeee !important;
	font-size: 20px;
}

#rename-toggle{
	height: 26px;
    padding: 4px;
    margin-left: 15px;
    width: 26px;
    font-size: 11px;
}

#rename-div{
	display: none;
	background-color: white;
	padding: 0;
	border-bottom: solid thin #E0E4E6;
}
#rename-div>div{
	height:53px;
}

#side_inner>div>h6>span{
	float: right;
}

#rename-div .btn{
	border-radius:0;
}


/*======
CHAT
========*/
.side-modal-chat #chat_sep{
	display: none;
	background-color: transparent;
}

.side-modal-chat .your-image, .side-modal-chat .other-image{
	width: 50px;
}

.side-modal-chat .bubble{
	width: calc(100% - 100px);
	word-wrap:break-word;
}

.side-modal-chat #chat_text{
	position: absolute;
	bottom: 0;
}

.nav>li{
	display: inline-block;
}

.nav{
	padding-left: 10px
}

nav{
	overflow: hidden;
}

#note_pad .CodeMirror{
	width: 100%;
}

.button-danger{
	color: #ECF0F1;
}
.button-default{
	color: #ECF0F1;
}
.button-danger{
	color: #E74C3C;
}

.side_header, .side-item{
	z-index: 98;
}

@font-face{
	font-family: 'Lobster';
	src: url('../fonts/Lobster.woff') format('woff'), url('../fonts/Lobster.ttf') format('truetype');
	font-weight: 400;
}

#branding{
	font-family: 'Lobster';
}

.side-modal-terminal .CodeMirror{
	height: 100%;
	width: 100%;
	position: absolute;
}

/*=====
SAVEAS
=======*/

.side-item{
	background-color: transparent;
	color: red;
}
#side-wrap, #side-nums{
	float: right;
	margin-right: 22px;
	margin-top: 18px;
}



#spinner-font{
	width: 100%;
}


#container{
	height:100% !important;
	width: 100% !important;
	margin:0% !important;
	max-height: 10000 !important;
	max-width: 10000 !important;
	left:0 !important;
	right:0 !important;
	padding:10px !important;
}
#main{
	top:0;
	width:100%;
	height:100% !important;
	padding:5px !important;
}
#actions{
	bottom:0;
	position: absolute;
	top:90%
}
#shadow{
	display:none !important;
}

div#container{
	max-height: none !important;
	max-width: none !important;
}

@media (max-width: 400px) {
	.poly-dialog{
		width: 100% !important;
		height: 100% !important;
		top: 0 !important;
		left: 0 !important;
	}
}

@media (max-height: 320px) {
	.poly-dialog{
		width: 100% !important;
		height: 100% !important;
		top: 0 !important;
		left: 0 !important;
	}
}

.poly-dialog{
	background-color: white;
	height: 70%;
	width: 70%;
	position: absolute;
	left: 15% ;
	top: 15% ;
	display: none;
	padding: 0px;
	border-radius: 5px;
}

.poly-dialog-small{
	height: 54px;
	width: 60%;
	position: absolute;
	display: none;
	top: calc(50% - 27px);
	left: 20%;
	background-color: white;
	border-radius: 5px;
}

paper-fab{
	top:18px !important;
	z-index: 300 !important;
	color: black !important;
	position: absolute;
	background-color: #EEFF41 !important;
	right:18px
}

.colored-close-button{
	top:20px !important;
	z-index: 300 !important;
	color: white !important;
	position: absolute;
	background-color: #f36c60 !important;
	right:20px;
}


.poly-dialog .content{
	bottom: 0;
	height: 100%;
	position: absolute;
	width: 100%;
	overflow-y: auto;
	background-color:#F7F7F7;
	font-family: 'Roboto' !important;
}

.poly-dialog .content-with-input{
	top: 0;
	height: calc(100% - 53px);
	position: absolute;
	width: 100%;
	overflow-y: auto;
	background-color:#F7F7F7;
	font-family: 'Roboto' !important;
}

.poly-dialog .content-input{
	bottom: 0;
	height: 53px;
	width: 100%;
	position: absolute;
	background-color: white;
}

.poly-input{
	color: #7F8C8D;
	background-color: #ECF0F1;
	border: solid thick #ECF0F1;
	border-radius: 5px;
	font-family: 'Roboto' !important;
	width: calc(100% - 10px);
}
.poly-input:focus{
	border-color: #ECF0F1;
	background-color: white;
	color: #7F8C8D;
	font-family: 'Roboto';
}

#mode_input, #theme_input, #lorem_input{
	height: calc(100% - 10px);
	margin-top: 5px;
	margin-left: 5px;
}
.poly-input::-webkit-input-placeholder {
	color: #95A5A6;
}
.poly-input::-moz-placeholder {
	color: #95A5A6;
}
.poly-input:-moz-placeholder {   /* Older versions of Firefox */
	color: #95A5A6;
}
.poly-input:-ms-input-placeholder { 
	color: #95A5A6;
}

#preview{
	border: none;
	outline: none;
	width: calc(100% - 40px);
	height: calc(100% - 40px);
	margin: 20px;
	position: absolute;
	background-color:white;
}

#preview-dialog .content{
	-webkit-overflow-scrolling: touch;
	overflow: scroll;
}
#lorem{
	padding: 20px;
	width: calc(100% - 40px);
	height: calc(100% - 40px);
	margin: 20px;
	background-color:white;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

#screen h1{	
	color: white;
    text-align: center;
}

.navbar paper-icon-button{
	color: #f5f5f5;
	top: 5px;
	margin-right: 5px;
}
.navbar{
	display: flex;
	display: -webkit-box;
}

.side-item paper-ripple{
	width: calc(100% + 20px);
	height: 41px;
	/* margin-bottom: 100%; */
	margin-top: -30px;
	margin-left: -9px;
}
.header-close{
	float: right;
	color: black !important;
	background-color: #EEFF41 !important;
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 5px;
}
paper-toast{
	z-index:400 !important;
}
#terminal-dialog .CodeMirror{
	width: calc(100% - 40px);
	height: calc(100% - 40px);
	margin: 20px;
	/*border: solid 2px #eee;
	padding: 5px;*/
}
#options-dialog .content{
	padding: 20px;
}
#options-dialog h6{
	width: calc(100% - 5px);
	float: left;
	font-size: 20px;
}
#options-dialog paper-checkbox{
	float:right;
}
.side-modal-row{
	display: flex;
	margin-bottom: 5px;
}
.side-modal-row core-icon{
	margin-right: 5px;	
}

#mode-ul paper-ripple, #theme-ul paper-ripple{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: -1px;
	color: red;
}

.search-nothing{
	height: 90%;
    width: 100%;
    padding-top: 40px;
    text-align: center;
    color: gray;
    text-transform: uppercase;
    font-family: 'Roboto-Black';
}
.tab-wrapper{
	height: 40px;
	background-color: #26c6da;
	position: absolute;
	top: -30px;
	overflow: hidden;
	display: inline-block;
	width: 100%;
}
.tab-container{
	height: 100%;
	position: absolute;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
}
.tab-tab{
	height: 35px;
	position: relative;
	width: 137px;
	padding: 10px;
	background-color: #EEE;
	margin-top: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-right: 2px;
	color: #546E7A;
	display: inline-flex;
}
.tab-tab h4{
  margin: 0px;
  font-size: 16px;
  width: 100px;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  float: left;
  word-wrap: break-word;
  overflow: hidden;
  height: 19px;
}
.tab-tab h6{
	margin: 0;
	font-size: 19px;
	color: #BEB8B8;
	display: none;
}
.tab-tab:hover h6{
	display: block;
}

.tab-active{
	background-color: #fafafa;
	color: #37474f;
}

.tab-active h6{
	color: #f36c60;
}

.CodeMirror{
	line-height: 1 !important;
}

.users-container{
	height: 100%;
	width: 100%;
	-webkit-overflow-scrolling: touch;
}

.poly-chat{
	width: 300px;
	height: 60%;
	z-index: 2;
	background-color: white;
	position: absolute;
	right: 0;
	top: 53px;
	border-left: solid thin #B7BABD;
}

.poly-chat-content{
	width: calc(100% - 2px);
	height: calc(100% - 40px);
	position: absolute;
	top: 0px;
	overflow-y: scroll;
	background-color: #EEE;
	overflow-x: hidden;
	right: 1px;
}

.poly-chat-footer{
	height: 40px;
	width: 100%;
	background-color: #424242;
	position: absolute;
	bottom: 0;
}

.chat-input{
	width: calc(100% - 50px);
	height: 30px;
	margin-bottom: 5px;
	font-size: 14px;
	font-family: 'Roboto-Thin';
	resize: none;
	border: none;
	border-radius: 2px;
	outline: none;
	-webkit-appearance: none;
	margin-top: -120px;
	border: solid thin #424242;
}

.chat-item{
  left: 10px;
  margin-top: 7px;
  background-color: #FFF;
  width: calc(100% - 20px);
  position: relative;
  margin-bottom: 7px;
}
.header-item{
  height: 30px;
  background-color: #F5F5F5;
}
.header-item img{
	margin-bottom: 2px;
}
.header-item h4{
	position: absolute;
	left: 39px;
	margin-top: -29px;
	color: #424242;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 17px;
	width: calc(100% - 40px);
}
.message-item{
  width: 100%;
	height: calc(100% - 10px);
	padding: 5px;
}
.message-item pre{
  width: 100%;
  border: none;
  margin: 0px;
  word-break: break-all;
  word-wrap: break-word;
  width: calc(100% - 40px);
  white-space: pre-wrap;
  font-family: "Roboto"; 
}

#overlay{
	background-color: #ECF0F1;
	z-index: 1;
}

#overlay h4{
	text-align: center;
	text-transform: uppercase;
	margin-top: 14px;
	color: #DADEDF;
}

.codemirror-container{
	z-index: 2;
}

#profile_pic{
	 float:right;
	 margin-right:5px;
	 border-radius:50%;
	border: none;
	 margin-top: 7px;
}


@media only screen and (max-device-width: 480px) {
     .tab-tab{
	     display: inline-block !important;
     }
     .tab-container{
	     display:-webkit-flex;
		 -webkit-overflow-scrolling: touch;
     }
     .tab-wrapper{
	     display:-webkit-box;
		 overflow:scroll;
     }
}
.mode-li, .theme-li{
	border: solid 1px #eee !important;
}

.mains .CodeMirror{
	height: 100% !important;
}


/*.poly-blue*/
paper-checkbox.poly-blue::shadow #ink[checked] {
	color: #3498DB;
}
    
paper-checkbox.poly-blue::shadow #checkbox.checked {
	border-color: #3498DB;
}

paper-slider.poly-blue::shadow #sliderKnobInner,paper-slider.poly-blue::shadow #sliderBar::shadow #activeProgress {
	background-color: #3498DB;
}