.CodeMirror{
	position: absolute;
	height: 100%;
	width: calc(100% - 53px);
	margin: 0;
	font-size:14px;
	float:left;
	line-height: 1;
	width:100%;
}
#users{
	width: 53px;
	height:calc(100% - 50px);
	float:right;
	position:absolute;
	margin-left: calc(100% - 53px);
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #2C3E50;
}
.codemirror-container{
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0px;
    float: right;
    padding-bottom: -30px;
    display: inline-block;
}

.navbar{
	border-radius:0px;
	z-index:9;
}
#overlay{
	height:100%;
	width:100%;
	position:absolute;
}
/*===============
FLIPPER
===============*/
#navbar-collapse-01{
	padding-left:0;
}
/*======================
PREFERENCES
=======================*/
.text-center{
	text-align: center;
}
body{
	overflow-y:hidden;
}
.nav-tabs > li > a{
	margin-left: -2px;
	color: #ECF0F1;
	border-radius:0;
	background-color:#7f8c8d;
}
.nav-tabs > li > a:hover{
	color: #34495E;
}
.nav-tabs{
	background-color:#95A5A6;
}
.nav-tabs > li .active > a{
	color:#2C3E50;
}
#bottom_button{
	width:63px;
	color:white;
	background-color:#E74C3C;
	margin-right:10px;
}
#bottom_button:hover{
	color:white;
	background-color:#C0392B;
}
#bottom_button>a:hover{
	color:white;
}
.CodeMirror{
	width: calc(100% - 53px);
}
/*==========
TOOLBAR
=========*/
#tool-bar{
	position: absolute;
	float: right;
	width: 53px;
	height: 50px;
	margin-left: calc(100% - 53px);
	top: calc(100% - 50px);
	background-color: #34495e;
	text-align: center;
	padding-top: 10px;
}

.no-hover{
	color: white;
}
.no-hover:hover{
	color: white;
}

.toolbar-a{
	color: #ecf0f1;
	display:block;
	margin-top: 5px;
}
.toolbar-a:hover{
	color:#2ecc71;
}

#col_button{
	width: 53px;
	display: inline-block;
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px;
}

#col_button i{
	float: left;
    margin-left: 18px;
    margin-top: 4px;
}

/*=======
MENUS
=========*/
.menu-i-offset{
	margin-right: 10px;
}

.menu-a-offset{
	margin-left: 25px;
}

#close_tab{
	background-color: #E74C3C;
    color: white;
    border: solid thin #E74C3C;
}
#close_tab:hover{
	background-color: #C0392B;
	border: solid thin #C0392B;
}

.close{
	color:#E74C3C;
	opacity: 1;
}
.close:hover{
	color:#C0392B;
	opacity: 1;
}

.btn:focus {
  outline: none;
}
