#intro{
	background-color: #E74C3C;
	background-image: url('../images/patterns/nebula.jpg');
}
#syntax{
	background-color: #2ECC71;
}
#colab{
	background-color: #2C3E50;
}
#google{
	background-color: #E74C3C;
}
#console{
	background-color: #3498DB;
}
#preview{
	background-color: #9B59B6;	
}
#colors{
	background-color: #E67E22;
}
#random{
	background-color: #1ABC9C;
}
#anywhere{
	background-color: #95A5A6;
}
#device{
	background: #2ECC71 url('../images/blog/back-phone.png') no-repeat;
}
#open{
	background-color: #C0392B;
}
#contact{
	background-color: #2980B9;
}
#screenshot{
	background-color: #16A085;
}
#start{
	background-color: #F39C12;
}
#credits{
	background-color: #16A085;
}

section {
	margin: 0;
}
body, html {
	color: white;
	text-align: center;
}
h6{
	width: 90%;
    margin-left: 5%;
}
.dark_code {
	color: #2C3E50;
	float: left;
	text-align: left;
	margin-left: 20%;
	font-size: 20px;
}
.light_code {
	background-color: #2C3E50;
	color: white;
	float: right;
	text-align: left;
	margin-right: 20%;
	font-size: 20px;
}
.green {
	color: #2ECC71;
}
.pink {
	color: #9B59B6;
}
.orange {
	color: #E67E22;
}
.screenshot_img {
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 0%;
	width: 70%;
	border: thick solid #ECF0F1;
}
.syntax {
	width: 50%;
}
.console {
	width: 50%;
}
.color {
	width: 50%;
}
.scroll_down {
	display: block;
	margin: 0;
	margin-top: 10px;
	width:100%;
	display: inline-block;
}
.scroll_up {
	display: block;
	margin: 0;
	margin-bottom: 10px;
	width:100%;
	display: inline-block;
}
#intro_main{
	/*background-color: #34495E;*/
	width: 50%;
	margin-left: 25%;
	padding: 20px;
	border-radius: 10px;
}
#search{
	float: right;
	width: 60%;
	padding: 20px;
	margin-top: 200px;
	background-color: #8E44AD;
}
#earth{
	margin-top: 200px;
	width: 60%;
	padding: 20px;
	background-color: #7F8C8D;
}
#devices{
	margin-top: 200px;
	width: 60%;
	padding: 20px;
	background-color: #27AE60;
}
#drive{
	margin-top: 150px;
	width: 60%;
	padding: 20px;
	background-color: #C0392B;
	float: right;
}
#comp{
	width: 40%;
	padding: 20px;
	background-color: #27AE60;
}
.onepage-pagination {
	background-color: #ecf0f1;
	padding: 10px;
	border-radius: 2px;
	padding-right: 15px;
}
.btn,th,td,code
{
  font-size: 17px;    /* old */
  font-size: 1.7vm;   /* IE9 */
  font-size: 1.7vmin;
}
.btn-huge {
	width: 40%;
	padding: 20px;
	font-size: 25px;
	font-size: 2.5vm;
	font-size: 2.5vmin;
}
section > div {
	height: 95%;
	margin-top: 2%;
	margin-bottom: 3%;
}
.screenshot_png {
	margin-top: 2%;
	margin-bottom: 0%;
	width: 60%;
	border: thick solid #ECF0F1;
}
.jumbotron{
	width: 50%;
	margin-left: 25%;
	border-radius: 5px;
	padding: 10px;
}
.credit_table{
	color: #2C3E50;
	text-align: left;
	background-color: #ECF0F1;
}
h1
{
  font-size: 61px;    /* old */
  font-size: 6.1vm;   /* IE9 */
  font-size: 6.1vmin;
}
h2
{
  font-size: 53px;    /* old */
  font-size: 5.3vm;   /* IE9 */
  font-size: 5.3vmin;
}
h6
{
  font-size: 24px;    /* old */
  font-size: 2.4vm;   /* IE9 */
  font-size: 2.4vmin;
}

@-webkit-keyframes buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

@keyframes buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

.buzz {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.buzz:hover, .buzz:focus, .buzz:active {
  -webkit-animation-name: buzz;
  animation-name: buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
