<!DOCTYPE html>
	<head>
		<!--load resources here-->
		<script src="https://codeyourcloud.com/about/flat/js/jquery-1.8.3.min.js"></script>
	</head>
	
	<body>
		<!--put content here-->
		<div id="editor">
			
		</div>
		<style>
			/*css here*/
			#editor{
				position: absolute;
				width:100px;
				height:100px;
			}
		</style>
		
		<script src= "https://codeyourcloud.com/lib/ace/src/ace.js"></script>
        <script src= "https://codeyourcloud.com/lib/ace/src/modes_all.js"></script>
        <script src=" https://codeyourcloud.com/lib/ace/src/themes_all.js"></script>
        <script src=" https://codeyourcloud.com/lib/ace/src/ext-language_tools.js"></script>
        
        <script>
        	var editor = ace.edit("editor");
        </script>
	</body>
</html>