#side{
	background-color: white;
	height: 100%;
	width: 30%;
	z-index: 90;
	position: absolute;
}

body{
	overflow-x: hidden;
	overflow-y: hidden;
}

#detect{
	height: 100%;
    width: 100%;
    background-color: red;
    z-index: 88;
    position: absolute;
    opacity: 0;
}

.nav-1, #tool-bar{
	background-color:#2FBAF1;
}

#users{
	background-color:#34ADDD;
}

#side_header{
	height: 53px;
	background-color:#34ADDD;
	width:100%;
	position: absolute;
}

#side_header > h6{
	width:100%;
	margin: 0;
	margin-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	color: white;
}

.float-right{
	float: right;
}

.new-a{
	color: #BDC3C7;
}
.new-a:hover{
	color: white;
}

.close-a{
	color:#E74C3C;
}
.close-a:hover{
	color: #C0392B;
}

#side_inner{
    height: calc(100% - 53px);
    margin-top: 53px;
    overflow-y: auto;
    overflowy-x: hidden;
}
#side_inner>div{
    width: 100%;
    height: 53px;
    padding: 7px;
}

#side_inner>div>h6{
	color: #34495E;
	font-size: 18px;
	font-weight: bold;
}
#side_inner>div>a>h6{
	color: #34495E;
	font-size: 18px;
	font-weight: bold;
}
#side_inner>.side-item>h6>small{
    margin-right: 20px;
    margin-left: 10px;
    color: #34495E;
    font-size: 20px;
}
#side_inner>.side-item>a>h6>small{
    margin-right: 20px;
    margin-left: 10px;
    color: #34495E;
    font-size: 20px;
}
#side_inner>.side-head>h6>a{
    margin-right: 20px;
    margin-left: 10px;
    color: #34495E;
    font-size: 20px;
}

#side_inner hr{
	margin-top: 10px;
	margin-bottom: 10px;
	border: 0;
	border-top: 2px solid #eee;
}

.side-head{
	background-color:#ECF0F1;
	border-bottom: solid thin #E0E4E6;
	padding: 25px;
	text-align: center;
	color: #34495E;
}
.side-head:hover{
	background-color:#ECF0F1;
	border-bottom: solid thin #E0E4E6;
	padding: 25px;
	text-align: center;
	color: #34495E;
}
.side-head>h6, .side-head>h6:hover{
	color: #34495E;
}
#rename-toggle{
	height: 26px;
    padding: 4px;
    margin-left: 15px;
    width: 26px;
    font-size: 11px;
}

#rename-div{
	display: none;
	background-color: white;
	padding: 0;
	border-bottom: solid thin #E0E4E6;
}
#rename-div>div{
	height:53px;
}

#rename_input{
	border-radius:0;
	border:none;
	height:53px;
}

#side_inner>div>h6>span{
	float: right;
}

.side-modal{
	height: 98%;
	top: 1%;
	width: 68%;
	position: absolute;
	z-index: 99;
	background-color: white;
	right: 1%;
}

#rename-div .btn{
	border-radius:0;
}
/*======
MODAL
=======*/
.side-modal-head{
	width: 100%;
    height: 53px;
    background-color: #2980B9;
    top: 0;
}
.side-modal-title{
	padding: 0;
    margin: 0;
    text-align: center;
    padding-top: 13px;
    color: white;
    font-weight: bold;
}
.side-modal-close{
    position: absolute;
    top: 0;
    float: right;
    right: 10px;
    text-shadow: none;
}
.side-modal-content{
	height: calc(100% - 53px);
	overflow: hidden;
	width:100%;
	position: absolute;
	margin-top: 15px;
}
.side-modal-options{
	height: 100%;
	width: 100%;
	overflow-y: auto;
}
.side-modal-row{
	width:100%;
	height: 60px;
}
.side-modal-row-label{
	margin-left: 10px;
	float: left;
}


/*=====
FONT
======*/
.modal-font-group{
	width: 20%;
    margin-right: 10px;
    float: right;
}
.modal-font-group .btn-default{
	border-radius: 0;
}


/*======
THEMES, MODES
========*/
.modal-input{
	border-radius: 0;
	border: none;
	height: 53px;
	width: 100%;
}

.new-nav-a{
	color: #ECF0F1;
}
.new-nav-a:hover{
	color: white;
}

/*======
CHAT
========*/
.side-modal-chat #chat_sep{
	display: none;
	background-color: transparent;
}

.side-modal-chat .your-image, .side-modal-chat .other-image{
	width: 50px;
}

.side-modal-chat .bubble{
	width: calc(100% - 100px);
	word-wrap:break-word;
}

.side-modal-chat #chat_text{
	position: absolute;
	bottom: 0;
}

.nav>li{
	display: inline-block;
}
.nav{
	padding-left: 10px
}
nav{
	overflow: hidden;
}
#note_pad .CodeMirror{
	width: 100%;
}

.button-danger{
	color: #ECF0F1;
}
.button-default{
	color: #ECF0F1;
}
.button-danger{
	color: #E74C3C;
}
body{
	overflow: scroll;
}
#screen{
	background-color: #34495E;
}
#screen img{
	margin: 0;
	padding: 0;
	height: 80%;
	position: absolute;
	top: 10%;
}
.danger-zone, .danger-zone:hover{
	background-color:#E74C3C;
}
.danger-zone:hover > h6, .danger-zone > h6{
	color: white;
}
.side-note{
	margin-left: 10px;
	background-color: #95A5A6;
	color: white;
	padding: 10px;
	border-radius: 26px;
	font-size: 12px;
}
.nudge{
	margin-top: 7px;
}

.side_header, .side-item{
	z-index: 98;
}
.mover{
	width: 100%;
	height:53px;
	background-color:#83AEC9;
	top: 169px;
	z-index: -10;
	position: absolute;
	display: none; 
}

@font-face{
	font-family: 'Lobster';
	src: url('../fonts/Lobster.woff') format('woff'), url('../fonts/Lobster.ttf') format('truetype');
	font-weight: 400;
}
#branding{
	font-family: 'Lobster';
}

.side-modal-terminal .CodeMirror{
	height: 100%;
	width: 100%;
	position: absolute;
}

/*=====
SAVEAS
=======*/
.saveas-wrapper{
	z-index: 100;
}
.saveas-detect{
	position:absolute;
	height: 100%;
	width:100%;
	z-index:99;
}

.saveas-modal{
	background-color: white;
	height: 80%;
	width: 80%;
	position: absolute;
	top: 10%;
	left: 10%;
	z-index: 100;
}

.saveas-wrapper{
	height: 100%;
	width: 100%;
	position: absolute;
}

.saveas-modal .btn-group{
	width: 80%;
	margin-left: 10%;
	margin-top: 20px;
}

.saveas-modal .btn-group a{
	width: 50%;
}

.side-item{
	background-color: transparent;
}

#side-wrap, #side-nums{
	float: right;
	margin-right: 22px;
	margin-top: 18px;
}


#spinner-font{
	width: 100%;
}
paper-input{
	margin-left: 5px;
}
paper-dialog{
	z-index: 99 !important;
	background-color: white !important;
	position:absolute !important;
	left: 0% !important;
	float:left;
	width: 100% !important;
	height: 100% !important;
	top: 0 !important;
}
paper-dialog>div{
	position: absolute;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 90%;
	left: 0;
	height: calc(100% - 150px);
	/* padding: 0; */
	/* padding: 5%; */
	left: 5%;
}

paper-dialog paper-button{
	color: #E74C3C;
	bottom:0;
	position: absolute;
}
#container{
	height:100% !important;
	width: 100% !important;
	margin:0% !important;
	max-height: 10000 !important;
	max-width: 10000 !important;
	left:0 !important;
	right:0 !important;
	padding:10px !important;
}
#main{
	top:0;
	width:100%;
	height:100% !important;
	padding:5px !important;
}
#actions{
	bottom:0;
	position: absolute;
	top:90%
}
#shadow{
	display:none !important;
}

div#container{
	max-height: none !important;
	max-width: none !important;
}

.poly-dialog{
	background-color: white;
	height: 100%;
	width: 100%;
	position: absolute;
	height:auto ;
	min-height: 100%;
	width: 100% ;
	left: 0 ;
	top: 0 ;
	display: none;
	padding: 0px;
}







paper-fab{
	top:18px !important;
	z-index: 300 !important;
	color: white !important;
	position: absolute;
	right:18px
}

.poly-dialog .header{
	height: 53px;
	width: 100%;
	background-color:#1eb4f0;
	color: white;
	padding: 2px;
}

.poly-dialog .header small{
	font-size:25px;
	font-weight:bold;
	margin-left:10px;
}

.poly-dialog .content{
	bottom: 0;
	height: calc(100% - 53px);
	position: absolute;
	width: 100%;
	overflow-y: scroll;
}

#mode_input, #theme_input{
	width: 80%;
	margin-top: 0px;
	height: calc(100% - 2px);
	border: solid thin #ECF0F1;
	background-color: white;
}

#preview{
	border: none;
	outline: none;
	width: 100%;
	height: 100%;
	position: absolute;
}

#preview-dialog .content{
	-webkit-overflow-scrolling: touch;
	overflow: scroll;
}
#lorem{
	padding: 20px;
	height: 100%;
	width: 100%;
}
#rename_input{
	border: none;
}

#screen h1{	
	color: white;
    text-align: center;
}