

#nav{
	position: relative;
	top: 0;
	width: calc(100% - 10px);
	height: 50px;
	left: 0;
	padding: 5px;
	z-index: 99;
	padding-bottom: 25px;
}

#login{
	position: absolute;
	right: 10px;
	font-family: 'Roboto';
	color: white;
	background-color: #3498DB;
}

#github{
	right: 89px;
	
	position: absolute;
	font-family: 'Roboto';
	color: black;
	background-color: white;
}
body{
	margin: 0;
}
#main{
	position: relative;
	padding: 30px;
	padding-top: 10px;
	width: calc(100% - 60px);
	padding-bottom: 0px;
	
	background: url("../images/background.jpg") no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

#quote{
	text-align: center;
	font-family: 'Baron';
	color: #FFFCFC;
	font-size: 22px;
}
#chart{
	text-align: center;
	font-family: 'Baron';
	color: #323232;
	font-size: 22px;
}
#screen{
	position: absolute !important;
	width: 60%;
	bottom: 0;
	left: 20%;
	background-color: transparent;
	margin-bottom: -4px;
	z-index: 1;
}

.dark-part{
	width: calc(100% - 60px);
	padding: 30px;
	background-color: #eee;
	color: #363636;
	font-family: 'Roboto';
	z-index: 3;
	
	position: relative;
}
#logos{
	margin-top: 10px;
	text-align: center;
	color: rgb(129, 129, 129);
}

#svg{
	height: 25px;
	width: 25px;
	margin-top: 13px;
}

#brand{
	height: 30px;
	position: absolute !important;
	top: 22px;
	font-size: 23px;
	margin-left: 10px;
	font-family: 'Baron';
	color: white;
}

@media (max-device-width : 464px) {
	#brand{
		display: none;
	}
}
.col{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;    
}
.dark-part{
	width: calc(100% - 60px);
	padding: 30px;
}
.white-part{
	width: calc(100% - 60px);
	padding: 30px;
	background-color: white;
}

.small{
	font-size: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 130%;
	font-family: 'Roboto-Thin';
}
.med{
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 150%;
	font-family: 'Roboto';
}
.black{
	color: #212121;
}
.gray{
	color: #868383;
}
.uppercase{
	text-transform: uppercase;
}
.white{
	color: #eee;
}
.border-right-white{
	border-right: solid thin #938A8A;
}
.border-left-white{
	border-left: solid thin #eee;
}
.text-center{
	text-align: center;
}
.sep{
	margin-left: 10%;
	width: 80%;
	border-bottom: solid thin #DFDCDC;
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
	display: block;
}
#logos{
	width:100%;
	text-align: center;
	font-size: 20px;
	color: #c7c2c2;
	margin: 0;
	margin-bottom: 10px;
}
.btn-h6{
	text-align: center;
	margin:0;
}
.btn-btn{
	background-color: white;
	color: black;
	font-family: 'Roboto';
	font-size: 17px;
}

paper-button{
	font-size: 17px !important;
}

.input{
	width: calc(100% - 30px);
	margin-bottom: 10px;
	box-shadow: none;
	border: none;
	border: solid 2px #eee;
	padding: 7px;
	font-size: 18px;
	font-family: 'Roboto';
	-webkit-appearance: none;
	border-radius: 4px;
	outline: none;
	resize: none;
}
.input:focus{
	-webkit-transition-property: border;
	-webkit-transition-duration: 0.5s;
	transition-property: border;
	transition-duration: 0.5s;
	border: 2px solid gray;
}
#switch{
	margin: 0;
	position: absolute;
	width: 180px;
	text-align: center;
	padding: 10px;
	margin-top: -28px;
	left: calc(50% - 100px);
	background-color: #212121;
	border-radius: 6px;
}
#switch span{
	font-family: 'Roboto';
	margin-left: 5px;
	margin-right: 5px;
	color: #eee;
}

.large-icon{
	font-size: 47px !important;
	color: #212121;
}
.hover-col a{
	display: block;
	margin-top: 20px;
	font-family: 'Baron';
	color: #212121;

	
	
	-webkit-transition-property: color;
	-webkit-transition-duration: 0.5s;
	transition-property: color;
	transition-duration: 0.5s;
	
}
.real-link{
	text-decoration: none;
}
.real-link:hover{
	color: #E74C3C;
}

#send{
	margin: 0;
	position: absolute;
	width: calc(100% - 60px);
	text-align: center;
}


paper-toggle-button::shadow paper-radio-button::shadow #ink[checked] {
  color: #E74C3C;
}

paper-toggle-button::shadow paper-radio-button::shadow #onRadio {
  background-color: #E74C3C;
}

paper-toggle-button::shadow #toggleBar[checked] {
  background-color: #E74C3C;
}

paper-toggle-button::shadow paper-radio-button::shadow #ink {
  color: #E74C3C;
}

paper-toggle-button::shadow paper-radio-button::shadow #offRadio {
  border-color: #E74C3C;
}

paper-toggle-button::shadow #toggleBar {
  background-color: #E74C3C;
}

.tooltip{
	position: absolute;
	font-family: 'Roboto';
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	background-color: #F1C40F;
	z-index: 2;
	color: #34495E;
}

.hover-col{
	padding-bottom: 30px;
}

.color{
	position: absolute;
	bottom: -14px;
	height: calc(100% + 30px);
	width: 100%;
	left: 0px;
	z-index: 0;
}

.hover-col i, .hover-col a{
	z-index: 1;
	position: relative;
	text-decoration: none;
}

.color{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.code-light{
	font-family: "Roboto";
	font-weight: 400;
}

.dark-part{
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	margin-bottom: 10px;
}

#main * {
  position: relative;
  z-index: 2;
}

.overlay{
position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
}
