#interact{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('../../images/web.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
}

#touch-1{
	position: absolute;
	left: 10px;
	top: 10px;
}


#touch-2{
	position: absolute;
	right: 10px;
	bottom: 10px;
}
#touch-3{
	position: absolute;
	top: 50%;
}

#touch-4{
	position: absolute;
	right: 40px;
	top: 10px;
}
.touch-info{
	position: absolute;
	width: 280px;
	height: 80%;
	background-color: white;
	top: 10%;
	z-index: 5;
	padding: 10px;
}

.touch-info-flat{
	position: absolute;
	width: calc(80% - 20px);
	height: auto;
	background-color: white;
	left: 10%;
	z-index: 5;
	padding: 10px;
}

#touch-info-1{
	left: -400px;
	height: auto;
}

#touch-info-1:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #fff;
	border-width: 30px;
	margin-top: -30px;
}

#touch-info-2{
	right: -400px;
	height: auto;
}

#touch-info-2:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fff;
	border-width: 30px;
	margin-top: -30px;
}

#touch-info-3{
	bottom: -400px;
}

#touch-info-3:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 30px;
	margin-left: -30px;
}

#touch-info-4{
	top: -400px;
}

#touch-info-4:after{
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 30px;
	margin-left: -30px;
}

.touch-info-close{
	color: #BDC3C7;
	position: absolute;
	top: 10px;
	right: 10px;
	margin: 0;
	font-size: 24px;
	z-index: 1;
}

.touch-info-header{
	font-size: 17px;
	color: #34495E;
}
.touch-info-desc{
	font-size: 14px;
	color: #95A5A6;
	text-align: left;
}

#fork{
	position: fixed;
    z-index: 1033;
    font-size: 16px;
    padding: 5px;
    color: white;
    background-color: rgb(59, 53, 53);
    border-top-left-radius: 5px;
    bottom: 0;
    right: 0;
}

#fork i{
	font-size: 16px;
    margin-left: 5px;
    color: white;
}