html,
body {
   margin:0;
   padding:0;
   height:100%;
   text-align: center;
   background-color: white;
   color: #607d8b;
   
   font-family: "Roboto";
}

h1{
	color: #0F1011;
	font-size: 35px;
}

h3{
	margin-bottom: 20px;
	margin-top: 5px;
	color: #262B2F;
	font-size: 30px;
}

a{
	margin-top: 20px;
	font-size: 20px;
	text-decoration: none;
	padding: 10px;
	font-weight: 500;
	color: white;
	background-color:#E74C3C;
	border-radius: 7px;
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

footer{
	background-color: #ECF0F1;
	color: #7F8C8D;
	padding: 10px;
	position: fixed;
	bottom: 0;
	width: calc(100% - 20px);
	padding-top: 20px;
	padding-bottom: 20px;
}