html,
body {
   margin:0;
   padding:0;
   height:100%;
   text-align: center;
   background-color: #2C3E50;
   color: white;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
   padding:10px;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
}
#logo_pic{
	border: none;
}